
<script type="text/javascript">
  $(function() {
	$('.forumThreadBox').hover( function(){
			  $(this).css('background-color', '#eeefee');
			},
			function(){
			  $(this).css('background-color', '#fff');
			});

	$("select#board-select").change(function () {
	  var str = "/forums/";
	  $("select option:selected").each(function () {
		if (this.value === "0") {
		  window.location  =   str;
		} else {
		  window.location = str + "index/" + this.value;
		}
	  });

	});

	// VALIDATE message
	$('#new_topic_submit').attr("disabled", "disabled");
	var validate = function() {
	  var isValid = false;
	  if ( $("#topic_posts_attributes_0_message_text").val() &&  $("#topic_title").val() ) {
		$('#new_topic_submit').removeAttr("disabled");
		isValid = true;
	  } else {
		$("#new_topic_validation_note").text("Please fill in both a title and a message");
	  }
	  return isValid;

	};
	// check title
	$("#topic_posts_attributes_0_message_text").blur(function(){
	  validate();
	});
	// check message
	$("#topic_title").blur(function() {
	  validate();
	});


	<% if page_vars[:admin_mode] %>
	$(".hider").click(function(){
	  var thread_id = this.innerHTML;
	  $( "#dialog-confirm" ).dialog({
		height:200,
		modal: true,
		buttons: {
		  "Hide Message?": function() {
			window.location = "/forums/hidepost/" + thread_id;
			$( this ).dialog( "close" );
		  },
		  Cancel: function() {
			$( this ).dialog( "close" );
		  }
		}
	  });
	  return false;
	});
	<% end %>

  });
</script>

<!-- Modal window for new posts -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<div id="myModalLabel">Post New Topic</div>
  </div>
  <div class="modal-body">
	<div class="row-fluid">
	  <%
		 @topic = Topic.new
		 @topic.posts.build
	  %>
	  <%= form_for @topic, :url=>{:action=>"create"}, :html => {:onsubmit=>"return validate();"} do |f| %>
		<fieldset>
		  <div class="control-group">
			<div id="new_topic_validation_note"></div>
			<label class="control-label" for="topic_title">Title</label>
			<div class="controls" >
			  <%= f.text_field :title, :size=>60, :class=>"span10", :placeholder=>"post topic" %>
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="topic_board_id">Select Forum</label>
			<div class="controls" >
			  <%= f.collection_select :board_id, ForumBoard.where("status=2").all, :board_id, :title, {:selected => "Local Scene"} %>
			</div>
		  </div>
		  <div class="control-group">
			<div class="controls" >
			  <%= f.fields_for :posts do |message_form| %>
				<%= message_form.text_area :message_text, :rows=>10, :class=>"span10", :placeholder=>"your insightful ruminations" %>
			  <% end %>
			</div>
		  </div>
		</fieldset>
		</div>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  <%= f.submit "Post New Topic", :id=>"new_topic_submit", :class=>"btn btn-primary" %>
	  <% end %>
	  </div>
	  </div>
<!-- end modal window -->


<div id="StageNarrow" >

  <div class="row-fluid breadcrumb-wrapper">
	<div class="span7">
	  <ul class="forum-breadcrumbs">
		<li>
		  <a href="/forums">Forums</a>
		</li>
		<li>
		  <%= render :partial => "switcher", :locals => {:show_count => true} %>
		</li>
		<li><%=page_vars[:page_number]%></li>
	  </ul>
	</div>
	<div class="span5 breadcrumb-right">
	  <% if logged_in? %>
		<div class="new-topic">
		  <a href="#myModal" role="button" data-toggle="modal">+New Topic</a>
		</div>
	  <% end %>
	</div>
  </div>

  <%= render :partial => "common/notice" %>
  <!-- forum page wrapper -->

  <%
	 has_bans=(page_vars[:ban_list] && page_vars[:ban_list].length>0) || false
	 per_page = page_vars[:per_page]
	 for item in topic_list
	   page_num = (item.post_count>per_page)? 1 + ((item.post_count-1)/per_page).floor : 1
	   next if (has_bans && item.monologue_flag==1 && page_vars[:ban_list].has_key?(item.user_id))
	   next if board.status != 2
  %>
	<div class="row-fluid">
	  <div class="forumThreadBox">
		<div class="forumAvatarBox">
		  <div class="forumListPic">
			<%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"65"} %>
		  </div>
		</div>
		<div class= "bigForumLink">
		  <a href="/forums/messages/<%=item.thread_id%>?page=<%=page_num%>&fpage=<%=page_vars[:page_number]%>"><%= truncate(item.title, :length => 60) %> <span class="badge badge-info"><%= item.post_count-1 %></span></a>
		  <div class="forumPostTime">
			<% if !item.user.nil? %>
			  <a href="/members/profile/<%=item.user.user_id%>"><%=item.user.username%></a> commented <%=distance_of_time_in_words(Time.now, item.modified_date)%> ago
			<% end %>
			<% if board.admin_mode %>
			  <br/><div class="hider"><%=item.thread_id%></div>
			<% end %>
		  </div>
		</div>
	  </div>
	</div>
  <% end %>

  <div class="row-fluid">
	<%= render :partial => "pager"%>
  </div>
</div>