<script type="text/javascript">
    $(function() {
        $('.forumThreadBox').hover( function(){
                    $(this).css('background-color', '#ff6');
                },
                function(){
                    $(this).css('background-color', '#fff');
                });
    });
</script>
<%
   boardId = (board.nil?)? 0: board.board_id
%>
<div class="contentTypeList">
  <a href="/forums" <% if boardId==0 %> class="selected" <% end %>>Recent</a>
  <% counter=1
     for bi in boards %>
      <% if bi.board_id == boardId %>
          | <%= link_to bi.title, {:action => "threads", :controller=>"forums", :id=>bi.board_id },  :class=>"selected"%>
      <% else %>
          | <%= link_to bi.title, {:action => "threads", :controller=>"forums", :id=>bi.board_id } %>
      <% end %>
  <% counter=counter+1
     end %>
</div>


<div class="hspacer"></div>


<span style="padding: 2px 5px; float: left;">
  <%=number_with_delimiter(@totalPosts)%> forum posts and still going...
</span>



<div class="board-pager" style="float:right;">
  <%= render :partial => "pager", :locals => { :page => @page, :board => board}%>
</div>
<div class="forumNewTopicLink">
  <% if logged_in? %>
      <% if board.nil? %>
          <%= link_to "+new topic", {:action => "new", :controller=>"forums", :class=>"newTopic"} %>
      <% else %>
          <%= link_to "+new topic", {:action => "new", :controller=>"forums", :board_id=>board.board_id}, :class=>"newTopic" %>
      <% end %>
  <% end %>
</div>
<%
   has_bans=(ban_list && ban_list.length>0) || false
   for item in threads
       page_num = item.post_count>@pp? 1+((item.post_count-1)/@pp).floor : 1
       next if (has_bans && item.monologue_flag==1 && ban_list.has_key?(item.user_id))
%>

    <div class="forumThreadBox">
      <div class="forumAvatarBox">
        <div class="forumListPic">
          <%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"75"} %>
        </div>
        <div class="forumMetaInfo">
          <a class="smallForumLink" href="/members/profile/<%=item.author%>"><%= item.author.downcase %></a>

          <div class="forumPostTime">
            <%=distance_of_time_in_words(Time.now, item.modified_date)%> ago
          </div>
        </div>
      </div>
      <div class= "bigForumLink">
        <a href="/forums/messages/<%=item.thread_id%>?fpage=<%=@page%>"><%= truncate(item.title, :length => 70) %></a>
        <br/><a class="smallForumLink" style="margin-top:12px;" href="/forums/messages/<%=item.thread_id%>?page=<%=page_num%>#<%= item.post_count %>"><%= item.post_count-1 %> comment<% if item.post_count-1 != 1 %>s<% end %></a>
      </div>
    </div>
<% end %>
