<%
   page_number = page_vars[:page_number]
   orig_page_number = page_vars[:orig_page_number]
   last_page = page_vars[:last_page]
   if last_page>1
%>

<div class="pagination">
  <ul>
	<% for i in 1..(last_page) %>
	  <% if i == page_number %><li class="active"><a href="/forums/messages/<%=topic.thread_id%>?page=<%=i %>&fpage=<%=orig_page_number%>"><%= i %></a></li>
	  <% else %>
		<li> <a href="/forums/messages/<%=topic.thread_id%>?page=<%=i %>&fpage=<%=orig_page_number%>"><%= i %></a></li>
	  <% end %>
	<% end %>
  </ul>
</div>
<% end %>


