<% content_for :head do %>
<% end %>
<div data-role="content">
  <ul data-role="listview">
	<li>
	  <% if logged_in? %>
		<% if @board.nil? %>
		  <%= link_to "+new topic", {:action => "new", :controller=>"forums"} %>
		<% else %>
		  <%= link_to "+new topic", {:action => "new", :controller=>"forums", :board_id=> board.board_id} %>
		<% end %>
	  <% else %>
		Login to participate
	  <% end %>
	</li>
	<%
	   has_bans=(page_vars[:ban_list] && page_vars[:ban_list].length>0) || false
	   per_page = page_vars[:per_page]
	   for item in topic_list
		 page_num = (item.post_count>per_page)? 1 + ((item.post_count-1)/per_page).floor : 1
		 next if (has_bans && item.monologue_flag==1 && page_vars[:ban_list].has_key?(item.user_id))
		 next if board.status != 2
	%>
	  <li class="forum_row_li">
		<div class="forumThreadBox">
		  <div class="forumAvatarBox">
			<div class="forumListPic">
			  <%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"83"} %>
			</div>
		  </div>
		  <div>
			<div class="forumAuthor">
			  <a href="/members/profile/<%=item.user.user_id%>"><%=item.user.username%></a>
			</div>
			<div class="forumPostTime">
			  <%=distance_of_time_in_words(Time.now, item.modified_date)%> ago
			</div>
			<br/>
			<div class="forumTitle">
			  <a data-ajax="false" href="/forums/messages/<%=item.thread_id%>?fpage=<%=page_vars[:page_number]%>"><%= truncate(item.title, :length => 30) %>
				<span class="ui-li-count"><%= item.post_count-1 %></span></a>
			</div>
		  </div>
		</div>
	  </li>
	<% end %>
  </ul>
  <div class="board-pager">
	<div  style="float:left;padding: 0 25px;">
	  <%= render :partial => "pager"%>
	</div>
  </div>
</div>

