<%= render :partial => "common/extjs", :locals=>{:jsonly=>true} %>
<script type="text/javascript" src="/common/js/jazzhouston.forums.js"></script>
<% rating_threshold=-6 %>
<%
   boardId = (@board.nil?)? 0: @board.board_id
%>
<div id="StageNarrow">
  <ul class="breadcrumbs">
      <li>
        <a href="/forums">Forums</a>
      </li>
      <li>
        <% if (@board.nil?) %>
            <a href="/forums">Recent</a>
        <% else %>
            <a href="/forums/threads/<%=@board.board_id%>?fpage=<%=@fpage%>"><%=@board.title%></a>
        <% end %>

      </li>
    </ul>

  <div class="forum-inside">

    <div>
      <% if @last_page>1 %>
          <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=@page==1?1:@page-1 %>">previous</a> |
          <% for i in 1..(@last_page) %>
              <% if i==@page %> <b><%=i%></b>
              <% else %>
                  <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=i %>"><%= i %></a>
              <% end %>
          <% end %>
          <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=@page==@last_page?@page:@page+1 %>">next</a>
      <% end %>
    </div>


    <div class="StoryHeader">
      <%=@thread.title%>
    </div>


    <div class="messageList">
      <ul >

        <%
           post_count=0+@pp*(@page-1)
           has_bans=(@ban_list && @ban_list.length>0) || false
           for item in @messages
               post_count=post_count+1
        %>
            <%if (has_bans && item.user && @ban_list.has_key?(item.user.user_id))  %>
                <li class="messageRow post-ban-row" >      <a name="<%=post_count%>"></a>
                  message ignored: <%= item.user.username %> is on your ban list (<a href="/forums/ban_list">change this</a>)
                </li>
            <% else %>

                <li class="<% if (item.rating>rating_threshold) %>messageRow<% else %>blockedMessage<% end%>" id="row_<%=item.message_id%>" style="display: list-item;">

                  <a name="<%=post_count%>"> </a>
                  <div class="messageBlock"
                       style="<% if (item.rating>rating_threshold) %>display:block;<% else %>display:none;<% end%>"
                       id="messageAuthor_<%=item.message_id%>">

                    <%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"40"} %>

                    <div class="<% if (item.rating>rating_threshold) %>messageRating<% else %>messageRatingBlock<% end%>" >
                      <div style="display:inline;font-size:0.8em;" id="score_<%=item.message_id%>">rating: <% if (item.rating>0) %>+<%end%><%= item.rating %></div>
                      <a class="messageImg" href="javascript:void(0)" onclick="jh.forums.rate_post(<%=item.message_id%>, 'NO', <%=logged_in?%>)"><img src="/images/icons/vote_no3.png" border="0" style="vertical-align:middle;cursor:pointer;" alt="thumbs down" vspace="0" hspace="3"/></a>
                      <a class="messageImg" href="javascript:void(0)" onclick="jh.forums.rate_post(<%=item.message_id%>, 'UP', <%=logged_in?%>)"><img src="/images/icons/vote_yes3.png" style="vertical-align:middle;cursor:pointer;" alt="thumbs up" vspace="0" /></a>
                    </div>

                    <div class="messageAuthor">
                      <% if item.user %>
                          <b><%=item.user.first_name%> <%=item.user.last_name%></b>
                          <br/><i><%=item.user.username%></i>
                      <% else %>
                           <b><%=item.author%></b>
                          <br/><i>legacy account</i>
                      <% end %>
                      <br/><%=distance_of_time_in_words(Time.now, item.pdate)%> ago
                    </div>

                    <div class="messageBody" style="<% if (item.rating>rating_threshold) %>display:block;<% else %>display:none;<% end%>"  id="message_<%=item.message_id%>">

                      <div class="forumAlert" style="<% if (item.rating>rating_threshold) %>display:none;<% end%>" id="rowAlert_<%=item.message_id%>">
                        message by <%= (item.user) ? item.user.username.downcase : item.author %> voted inappropriate (<a href="javascript:void(0)" onclick="jh.forums.show_post(<%=item.message_id%>)">view anyway</a>)
                      </div>
                      <%= raw item.message_text.gsub(/\n/, '<br/>') %>
                    </div>
                  </div>

                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div  class="board-pager">


      <div style="float:right;">
        <% if @last_page>1 %>
            <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=@page==1?1:@page-1 %>">previous</a> |
            <% for i in 1..(@last_page) %>
                <% if i==@page %> <b><%=i%></b>
                <% else %>
                    <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=i %>"><%= i %></a>
                <% end %>
            <% end %>
            <a href="/forums/messages/<%=@thread.thread_id%>?page=<%=@page==@last_page?@page:@page+1 %>">next</a>
        <% end %>
      </div>

    </div>

    <div class="hspacer"></div>
    <% if logged_in? -%>


        <b>Reply</b><br>
        <%= form_for :message, :url => { :action => "reply"}, :html => {:onsubmit=>"return jh.forums.validatePost();"} do |f| %>
            <%= f.text_area :message_text, :cols => 35, :rows => 20 %>
            <input type='hidden' name="message[thread_id]" id="message_thread_id" value="<%=@thread.thread_id%>">
            <input type='hidden' name="board_id" id="board_id" value="<%=@board.board_id%>">
            <br/>
            <%= f.submit "Reply" %>
        <% end %>

    <% else%>
        <div id="forum-login">
          <b>Login to reply to this and other topics.</b>
        </div>
    <% end -%>
  </div>
</div>



