<%= render :partial => "common/extjs", :locals=>{:jsonly=>true} %>
<script type="text/javascript" src="/common/js/jazzhouston.forums.js"></script>
<% rating_threshold=-6 %>
<!-- updated -->
<div id="StageNarrow">
  <ul class="breadcrumbs">
	<li>
	  <a href="/forums">Forums</a>
	</li>
	<li>
	  <a href="/forums/index/<%=topic.board_id%>?page=<%=page_vars[:orig_page_number]%>"><%=page_vars[:board_title]%></a>
	</li>
  </ul>

  <div class="cd-inside">

	<div class="StoryHeader">
	  <%=topic.title%>
	  <%= render :partial => "messages_pager", :locals => {:wrap=>true} %>
	</div>


	<div class="messageList">
	  <ul >

		<%
		   post_count = page_vars[:per_page] * (page_vars[:page_number]-1)
		   has_bans = (page_vars[:ban_list] && page_vars[:ban_list].length>0) || false
		   topic.posts.page(page_vars[:per_page], post_count).each do |item|
			 post_count=post_count+1
		%>
		  <% if (!has_bans.nil? && item.user && page_vars[:ban_list].has_key?(item.user.user_id))  %>
			<li class="messageRow post-ban-row" >      <a name="<%=post_count%>"></a>
			  message ignored: <%= item.user.username %> is on your ban list (<a href="/forums/ban_list">change this</a>)
			</li>
		  <% else %>

			<li class="<% if (item.rating>rating_threshold) %>messageRow<% else %>blockedMessage<% end%>" id="row_<%=item.message_id%>" style="display: list-item;">

			  <a name="<%=post_count%>"> </a>
			  <div class="messageAuthor"
				   style="<% if (item.rating>rating_threshold) %>display:block;<% else %>display:none;<% end%>"
				   id="messageAuthor_<%=item.message_id%>">

				<div class="hspacer"></div>
				<%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"100"} %>
				<br/>
				<div class="messageDate">
				  <% if item.user %>
					<b><%=item.user.first_name%> <%=item.user.last_name%></b>

				  <% else %>
					<b><%=item.author%></b>
					<br/><i>legacy account</i>
				  <% end %>

				</div>

				  <div class="message-timestamp">
				  <%=distance_of_time_in_words(Time.now, item.pdate)%> ago
				  </div>
			  </div>

			  <div class="<% if (item.rating>rating_threshold) %>messageRating<% else %>messageRatingBlock<% end%>" >
				<div style="display:inline;font-size:0.8em;" id="score_<%=item.message_id%>">rating: <% if (item.rating>0) %>+<%end%><%= item.rating %></div>
				<a class="messageImg" href="javascript:void(0)" onclick="jh.forums.rate_post(<%=item.message_id%>, 'NO', <%=logged_in?%>)"><img src="/images/icons/vote_no3.png" border="0" style="vertical-align:middle;cursor:pointer;" alt="thumbs down" vspace="0" hspace="3"/></a>
				<a class="messageImg" href="javascript:void(0)" onclick="jh.forums.rate_post(<%=item.message_id%>, 'UP', <%=logged_in?%>)"><img src="/images/icons/vote_yes3.png" style="vertical-align:middle;cursor:pointer;" alt="thumbs up" vspace="0" /></a>
			  </div>

			  <div class="forumAlert" style="<% if (item.rating>rating_threshold) %>display:none;<% end%>" id="rowAlert_<%=item.message_id%>">
				message by <%= (item.user) ? item.user.username.downcase : item.author %> voted inappropriate (<a href="javascript:void(0)" onclick="jh.forums.show_post(<%=item.message_id%>)">view anyway</a>)
			  </div>

			  <div class="messageBody" style="<% if (item.rating>rating_threshold) %>display:block;<% else %>display:none;<% end%>"  id="message_<%=item.message_id%>">
				<%= raw item.message_text.gsub(/\n/, '<br/>') %>
			  </div>

			</li>
		  <% end %>
		<% end %>
	  </ul>
	</div>
	<div  class="board-pager">
	  <%= render :partial => "messages_pager", :locals => {:wrap=>true} %>
	</div>
	<div class="hspacer"></div>
	<%= render :partial => "reply" %>
  </div>
</div>


