<%= render :partial => "common/extjs", :locals=>{:jsonly=>true} %>
<script type="text/javascript" src="/common/js/jazzhouston.forums.js"></script>
<div id="StageNarrow">
  <ul class="breadcrumbs">
	<li>
	  <a href="/forums">Forums</a>
	</li>
	<li>
	  Post a New Topic
	</li>
  </ul>

  <div class="cd-inside">
	<div class="row-fluid">
	  <div class="span10 well">
		<%= form_for @topic, :url=>{:action=>"create"}, :html => {:onsubmit=>"return jh.forums.validateThread();"} do |f| %>
		  <fieldset>
			 <legend>Post a new topic</legend>
			<div data-role="fieldcontain">
			  <label class="control-label" for="topic_title">Title</label>
			  <%= f.text_field :title, :size=>60, :class=>"span10" %>
			  </div>
			<div data-role="fieldcontain">
			  <label class="control-label" for="topic_board_id">Select Forum</label>
			  <%= f.collection_select :board_id, ForumBoard.where("status=2").all, :board_id, :title, {:selected => "Local Scene"} %>
			  </div>

<div data-role="fieldcontain">
				<%= f.fields_for :posts do |message_form| %>
				  <%= message_form.text_area :message_text, :rows=>20 %>
				<% end %>
			  </div>

<div data-role="fieldcontain">
			  <%= f.submit "Post New Topic", :class=>"btn" %>
			</div>
		  </fieldset>
		<% end %>
	  </div>
	</div>
  </div>
</div>
