<%= render :partial => "common/extjs" %>
<%= render :partial => "common/tinymce" %>
<%
   if (!@board)
       title="New Topic"
   else
       title=@board.title
   end
%>
<script type="text/javascript" src="/common/js/jazzhouston.forums.js"></script>
<div id="StageNarrow">

  <ul class="breadcrumbs">
    <li>
      <a href="/forums">Forums</a>
    </li>
    <li>
     <%=title%>
    </li>
  </ul>

  <div class="cd-inside">

    <%= form_for :message, :url => { :action => "new"}, :html => {:onsubmit=>"return jh.forums.validateThread();"} do |f| %>
        <% if !@board %>
            <br/>
            <b>Pick a message board</b>
            <select name="board_id">
              <%  for board in @boards %>
                  <option value="<%=board.id%>"><%=board.title%>
              <% end %>
            </select>
        <% else %>
            <input type='hidden' name="board_id" id="board_id" value="<%=@board_id%>">
        <% end %>
        <br/>
        Topic:<br/>
        <input type="text" size="50" maxlength="80" name="title" id="title" />
        <br/>
        Message :<br/>
        <%= f.text_area :message_text, :rows=>20, :cols=>60 %>

        (drag bottom right corner to expand editor)

        <br/>
        <%= f.submit "Post new Topic" %>
    <% end %>
  </div>
</div>
