<%
   boardId = (@board.nil?)? 0: @board.board_id
%>
<div id="StageNarrow">

  <div class="forum-inside">

    <div class="board-pager" style="float:left;">
      <%= render :partial => "pager", :locals => { :page => @page, :board => @board}%>
    </div>
    <div class="forumNewTopicLink">
      <% if logged_in? %>
          <% if @board.nil? %>
              <%= link_to "+new topic", {:action => "new", :controller=>"forums", :class=>"newTopic"} %>
          <% else %>
              <%= link_to "+new topic", {:action => "new", :controller=>"forums", :board_id=> @board.board_id}, :class=>"newTopic" %>
          <% end %>
      <% end %>
    </div>

    <%
       for item in @threads
           page_num = item.post_count>@pp? 1+((item.post_count-1)/@pp).floor : 1
    %>
        <div class="forumThreadBox">
          <div class="forumAvatarBox">
            <div class="forumListPic">
              <%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"75"} %>
            </div>

          </div>
          <div class= "bigForumLink">
            <a href="/forums/messages/<%=item.thread_id%>?page=<%=page_num%>&fpage=<%=@page%>"><%= truncate(item.title, :length => 60) %> (<%= item.post_count-1 %>)</a>

            <div class="forumPostTime">
              <% if item.user %>
                  <a href="/members/profile/<%=item.user.user_id%>"><%=item.user.username%></a> commented <%=distance_of_time_in_words(Time.now, item.modified_date)%> ago
              <% end %>
            </div>
          </div>
        </div>


    <% end %>


  </div>
</div>
