
<div id="StageNarrow">

  <div class="forum-inside">

	<div class="board-pager" style="float:left;">
	  <%= render :partial => "pager", :locals => { :forum_board => @forum_board }%>
	</div>
	<div class="forumNewTopicLink">
	  <% if logged_in? %>
		<%= link_to "+new topic", {:action => "new", :controller=>"forums", :board_id=>@forum_board.board_id}, :class=>"newTopic" %>
	  <% end %>
	</div>
	<%
	   has_bans=(@forum_board.ban_list && @forum_board.ban_list.length>0) || false
	   per_page = @forum_board.per_page
	   for item in @forum_board.topic_list
		 page_num = (item.post_count>per_page)? 1 + ((item.post_count-1)/per_page).floor : 1
		 next if (has_bans && item.monologue_flag==1 && ban_list.has_key?(item.user_id))
	%>
	  <div class="forumThreadBox">
		<div class="forumAvatarBox">
		  <div class="forumListPic">
			<%= render :partial => "common/renderpic", :locals => { :user => item.user, :size =>"75"} %>
		  </div>

		</div>
		<div class= "bigForumLink">
		  <a href="/forums/messages/<%=item.thread_id%>?page=<%=page_num%>&fpage=<%=@page%>"><%= truncate(item.title, :length => 60) %> (<%= item.post_count-1 %>)</a>
		  <div class="forumPostTime">
			<% if item.user %>
			  <a href="/members/profile/<%=item.user.user_id%>"><%=item.user.username%></a> commented <%=distance_of_time_in_words(Time.now, item.modified_date)%> ago
			<% end %>
		  </div>
		</div>
	  </div>
	<% end %>


  </div>
</div>
