<% content_for :head do %>
  <script src="/common/js/jsrender.js"></script>
  <script>

	$("#musicianSearch").on("pageshow", function(e) {
	  var sugList = $("#suggestions");
	  var toggler = $("#toggle");
	  toggler.hide();
	  var byinst_list =  $("#byinst_list");
	  toggler.on("click", function(){
		toggler.hide();
		sugList.html("");
		sugList.listview("refresh");
		byinst_list.show();
	  });
	  var defaultImage = "/images/forum-icon-blue.png";
	  $("#searchField").on("input", function(e) {
		var text = $(this).val();
		if (text.length >= 4) {
		  byinst_list.hide();
		  $.getJSON("/musicians/search?query="+text).done(function( res ) {
			if (!res) {
			  return;
			}
			var column_offset = res.length%3;
			var liBlock = "";
			$.each( res, function( i, data ) {
			  var item = data.user;
			  var image_url = "";
			  if (item.image) {
				var ip = item.image.avatar.url;
				image_url = (ip === defaultImage) ? ip : "/user/image/"+item.user_id+"/avatar/"+ip.substring(ip.lastIndexOf("/")+1);
			  } else {
				image_url = defaultImage;
			  }
			  item.image_path = image_url;

			  liBlock +=  $( "#musicians_listing_tmpl" ).render( item );
			});
			sugList.html(liBlock);
			sugList.listview("refresh");
			toggler.show();
		  });
		}
	  });

	});
  </script>

  <script type="text/javascript">
	$(function() {


	  $("select#board-select-mobile").change(function () {
		var str = "/musicians/";
		$("select option:selected").each(function () {
		  if (this.value === "0") {
			window.location  =   str;
		  } else {
			window.location = str + "/byinst/" + this.value;
		  }
		});

	  });


	});
  </script>


  <script id="musicians_listing_tmpl" type="text/x-jsrender">
	<li class="player_row_li">
	  <div class="player_row_li_wrapper">
		<div class="player-pic-column">
		  <a class="" href="/members/profile/{{:username}}"><img
		  src="{{:image_path}}"
		  width="125" height="125"
		  style="height:125px;" class="img-polaroid"></a>
		</div>
		<div class="player-data">
		  <div class="player-name">
			<strong><a class="" href="/members/profile/{{:username}}">{{:first_name}} {{:last_name}}</a></strong>
		  </div>
		  <div class="player-phone">
			{{if cell_phone != ""}}
			<i class="icon-signal" style="padding-right:5px;"></i><a href="tel:{{:cell_phone}}">{{:cell_phone}}</a><br/>
			{{/if}}
			{{if home_phone != ""}}
			<i class="icon-home" style="padding-right:5px;"></i><a href="tel:{{:home_phone}}">{{:home_phone}}</a>
			{{/if}}
		  </div>
		</div>
	  </div>
	</li>
  </script>

<% end %>

<div data-role="content">
<select id="board-select-mobile" >
<option value="0" disabled="disabled">Select an instrument </option>
<%for item in instruments%>
  <option value="<%=item.instrument_name%>" <% if instrument.instrument_name==item.instrument_name %>selected<% end %>><%=item.instrument_name%> </option>
<% end %>
</select>

<input type="search" id="searchField" size="10" placeholder="Search">
<div id="toggle" style="display:none;">Hide Search Results</div>

<div class="hspacer"></div>
<ul id="suggestions" data-role="listview"></ul>

<ul id="byinst_list" data-role="listview">
<% for item in players
	 fullname = item.first_name.gsub( %r{</?[^>]+?>}, '' ) + " " + item.last_name.gsub( %r{</?[^>]+?>}, '' )
	 if !item.cell_phone.blank?
	   item.cell_phone.gsub!(/[^\d]/,'')
	   item.cell_phone = number_to_phone(item.cell_phone)
	 end
	 if !item.home_phone.blank?
	   item.home_phone.gsub!(/[^\d]/,'')
	   item.home_phone = number_to_phone(item.home_phone)
	 end
	 if !item.url.blank? && item.url !~/^http:\/\//
	   item.url = "http://#{item.url}"
	 end
%>
  <li class="player_row_li">
  <div class="player_row_li_wrapper">
  <div class="player-pic-column">
  <%= render :partial => "common/renderpic", :locals => { :user => item, :size =>"125"} %>
  </div>
  <div class="player-data">

  <div class="player-name">
  <%= truncate(fullname.titleize, :length => 30) %>
  </div>

  <div class="player-phone">
  <% if !item.cell_phone.nil? && !item.cell_phone.blank? %>
	<a href="tel:<%= item.cell_phone %>"><%= item.cell_phone %></a> <br/>
  <% end %>
  <% if !item.home_phone.nil? && !item.home_phone.blank? %>
	<a href="tel:<%= item.home_phone %>"><%= item.home_phone %></a>
  <% end %>
  </div>
  </div>
  </div>
  </li>
<% end %>
</ul>



<div class="hspacer"></div>
<%= render :partial => "pager_mobile", :locals => { :page => @page,  :total =>@total_players, :page_size=>@page_size}%>





<div class="alert">
Musicians: to be listed on these pages, ensure your account is set to "musician" with a photo, phone number(s) and/or website.
</div>

</div>
