<script type="text/javascript">
    $(function() {
        $('table.phone-list tr').not(':first').hover( function(){
                    $(this).css('background-color', '#eee');
                    $(this).css('font-size', '1.0em');
                },
                function(){
                    $(this).css('background-color', '#fff');
                    $(this).css('font-size', '1.0em');
                });
    });
</script>
<div id="StageNarrow">
  <div class="HeaderShow"><%= @instrument.titleize %></div>

  <div class="inside">
    <div class="breadcrumbs">
      <a href="/">Home</a>> <a href="/musicians">Musicians</a>>
    </div>
    <div class="board-pager" style="float:right;">
      <%= render :partial => "pager", :locals => { :page => @page, :instrument => @instrument, :total =>@total_players, :page_size=>@page_size}%>
    </div>
    <table class="phone-list" width="100%">
      <tr>
        <th width="25%" class="phoneHeader">Name</th>
        <th width="25%" class="phoneHeader">Cell Phone</th>
        <th width="25%" class="phoneHeader">Home Phone</th>
        <th width="25%" class="phoneHeader">vCard</th>
      </tr>
      <% for item in @players %>
          <% if (item.first_name || item.last_name)
                 fullname = item.first_name.gsub( %r{</?[^>]+?>}, '' ) + " " + item.last_name.gsub( %r{</?[^>]+?>}, '' )
          %>
              <tr style="padding: 5px 0;">
                <td width="35%" valign="bottom">

                  <div class="forumListPic">
                    <%= render :partial => "common/renderpic", :locals => { :user => item, :size =>"30"} %>
                  </div>
                  <a class="smallForumLink" href="/members/profile/<%=item.username%>"><%= fullname.titleize %></a>

                </td>
                <td width="25%" valign="bottom" >
                  <%= item.cell_phone %>
                </td>
                <td width="25%"  valign="bottom">
                  <%= item.home_phone %>
                </td>
                <td width="15%"  valign="bottom">
                  <a href="/members/vcard/<%=item.id%>"><img src='/images/icons/vcard.png' border='0' width='30'></a>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
     <div class="board-pager" style="float:right;">
      <%= render :partial => "pager", :locals => { :page => @page, :instrument => @instrument, :total =>@total_players, :page_size=>@page_size}%>
    </div>
    <div class="hspacer"></div>
  </div>
</div>
