<script src="/common/js/jsrender.js"></script>
<script type="text/javascript">
  // Search Results: Prep for jsrender template
 $(function() {
	// default icon
	var defaultImage = "/images/forum-icon-blue.png";

	// dom ids
	var sugList = $("#suggestions");
	var toggler = $("#toggle");
	var titlebar = $("#musician_instrument_header");
	var pagerbar = $("#musician_pager");
	var byinst_list =  $("#byinst_list");

	// handler for hide messages
	toggler.on("click", function(){
	  toggler.hide();
	  sugList.html("");
	  byinst_list.show();
	  titlebar.show();
	  pagerbar.show();
	});

	// collection of hide/show methods
	var redrawForSearch = function() {
	  byinst_list.hide();  // hide by-inst listings
	  titlebar.hide(); // hide instrument name
	  pagerbar.hide();  // hide pagination links
	  sugList.html("searching for " + text + "...");  // pre-ajax load messages

	};

	// set search hide message off initially
	toggler.hide();

	// handler for search text field
	$("#searchField").autocomplete({
	  source: function(req, res) {
		// run search via AJAX. Expect JSON
		$.getJSON("/musicians/search_ext?query="+req.term, function( res ) {
		   if (!res) {
			return;
		  }
		  // for bootstrap spanX value (assumes three columns)
		  var column_offset = res.length%3;
		  var liBlock = "";
		  var count = 0;

		  // prepare screen
		  redrawForSearch();
  			// parse JSON results
		  $.each( res, function( i, data ) {
			var item = data.user;
			// handle column math
			if (count%3==0) {
			  if (count>0) {
				liBlock+=" </div>";
			  }
			  liBlock+='<div class="player-row row-fluid" >';
			}
			// construct image URL: default icon, legacy URL, or uploaded Image
			var image_url = "";
			if (item.image_url) {
			  image_url = item.image_url;
			} else if (item.image) {
			  image_url = "/user/image/"+item.user_id+"/avatar/"+item.image.substring(item.image.lastIndexOf("/")+1);
			} else {
			  image_url = defaultImage;
			}
			// add website link
			item.image_path = image_url;
			if (item.url && item.url.indexOf("http:") == 0 ) {
			  item.url = "http://"+item.url;
			}
			// pass updated user object to jsrender
			liBlock +=  $( "#musicians_listing_tmpl" ).render( item );
			count++;
		  });


		  // close dangling bootstrap column
		  if (column_offset>0) {
			liBlock += ('<div class="span'+ (12-column_offset*4) +'">&nbsp;</div>');
		  }
		  // dump output into page
		  sugList.html(liBlock);
		  // display "hide results message"
		  toggler.show();

		})

	  }
	});

  });
</script>

<div id="StageNarrow">
  <ul class="breadcrumbs">
	<li>
	  <a href="/musicians">Musician Roll-A-Dex</a>
	</li>
	<li>
	  <%= render :partial => "instruments", :locals => { :instruments => instruments} %>
	</li>
  </ul>
  <%= render :partial => "pager", :locals => { :page => @page,  :total =>@total_players, :page_size=>@page_size}%>

  <div id="toggle" style="clear:both;">Hide Search Results</div>
  <div id="suggestions"></div>
  <div class="cd-inside">
	<div id="byinst_list">
	  <% count=0
		 for item in players %>
		<%
		   fullname = item.first_name.gsub( %r{</?[^>]+?>}, '' ) + " " + item.last_name.gsub( %r{</?[^>]+?>}, '' )
		   if (item.cell_phone && item.cell_phone!="" && !item.cell_phone.nil?)
			 item.cell_phone.gsub!(/[^\d]/,'')
			 item.cell_phone = number_to_phone(item.cell_phone)
		   end
		   if (item.home_phone && item.home_phone!="" && !item.home_phone.nil?)
			 item.home_phone.gsub!(/[^\d]/,'')
			 item.home_phone = number_to_phone(item.home_phone)
		   end
		   if !item.url.nil? && !item.url.blank? && item.url !~/^http:\/\//
			 item.url = "http://#{item.url}"
		   end

		   if count%3==0
			 if count>0 %>
			</div>
		  <% end # end count>0%>
		  <div class="player-row row-fluid" >
		<% end # end count%3==0%>
		<div class="span4">
		  <div class="span3 player-pic-column">
			<%= render :partial => "common/renderpic", :locals => { :user => item, :size =>"70"} %>
		  </div>
		  <div class="span9 player-data">
			<div class="player-name">
			  <strong><a class="" href="/members/profile/<%=item.username%>"><%= truncate(fullname.titleize, :length => 30) %></a></strong>
			</div>
			<div class="player-phone">
			  <% if !item.cell_phone.nil? && !item.cell_phone.blank? %>
				<i class="icon-signal" style="padding-right:5px;"></i><%= item.cell_phone || "--" %> <br/>
			  <% end %>
			  <% if !item.home_phone.nil? && !item.home_phone.blank? %>
				<i class="icon-home" style="padding-right:5px;"></i><%= item.home_phone || "--" %>
			  <% end %>
			</div>
			<div class="player-url">
			  <% if !item.url.nil? && !item.url.blank? %>
				<i class="icon-globe" style="padding-right:5px;"></i><a href="<%= item.url %>">personal website</a>
			  <% end %>
			</div>
		  </div>
		</div>
	  <%count=count+1
		end %>

	  </div><!-- //end of last mod 3 div -->

	  </div>
  <div class="hspacer"></div>
  <div class="alert" >
	Musicians: to be listed on these pages, ensure your account is set to "musician" with a photo, phone number(s) and/or website.
  </div>
</div> <!-- //end of cd-inside -->
</div><!-- //end of StageNarrow -->


<script id="musicians_listing_tmpl" type="text/x-jsrender">
  <div class="span4">
	<div class="span3 player-pic-column">
	  <div class="forumPic">
		<a class="" href="/members/profile/{{:user_id}}"><img
		src="{{:image_path}}"
		align="left" width="75" height="75"
		style="height:75px;" class="img-polaroid"></a>
	  </div>
	</div>

	<div class="span9 player-data">
	  <div class="player-name">
		<strong><a class="" href="/members/profile/{{:username}}">{{:first_name}} {{:last_name}}</a></strong>
	  </div>

	  <div class="player-phone">
		{{if cell_phone!=null}}
		<i class="icon-signal" style="padding-right:5px;"></i>{{:cell_phone}}<br/>
		{{/if}}
		{{if home_phone!=null}}
		<i class="icon-home" style="padding-right:5px;"></i>{{:home_phone}}
		{{/if}}
	  </div>

	  <div class="player-url">
		{{if url!=""}}
		<i class="icon-globe" style="padding-right:5px;"></i><a href="{{:url}}">website</a>
		{{/if}}
	  </div>
	</div>

  </div>
</script>