
<div id="StageNarrow">
  <div class="inside">

    ><a href="/">Home</a>> <a href="/musicians">Musicians</a> > <%= @instrument %>

    <div class="hspacer"></div>
    <div class="Header"><%= @instrument %></div>
    <table class="phone-list" width="100%">
      <tr>
        <th width="40%" class="phoneHeader">Name</th>
        <th width="25%" class="phoneHeader">Cell Phone</th>
        <th width="25%" class="phoneHeader">Home Phone</th>
        <th width="10%" class="phoneHeader">vCard</th>
      </tr>
      <% for item in @players %>
          <% if (item.first_name || item.last_name)
                 if (item.image_url !~/\.(jpeg|png|bmp|gif|jpg)$/i)
                     item.image_url=""
                 end
                 fullname = item.first_name.gsub( %r{</?[^>]+?>}, '' ) + " " + item.last_name.gsub( %r{</?[^>]+?>}, '' )
          %>
              <tr class="<%=cycle('alt','noalt')%>" style="padding: 5px 0;">
                <td width="40%" valign="bottom">
                  <%= render :partial => "common/renderpic",  :locals => { :user => item, :size =>"30"}%>
                 &nbsp; <a href="/members/profile/<%=item.username%>"><%= fullname.titleize %></a>
                </td>
                <td width="25%" valign="bottom" >
                  <%= item.cell_phone %>
                </td>
                <td width="25%"  valign="bottom">
                  <%= item.home_phone %>
                </td>
                <td width="10%"  valign="bottom">
                  <a href="/members/vcard/<%=item.id%>"><img src='/images/icons/vcard.png' border='0' width='30'></a>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>
    <div class="hspacer"></div>
  </div>
</div>
