<script type="text/javascript">
  $(function() {
	$('table.phone-list tr').not(':first').hover( function(){
			  $(this).css('background-color', '#eee');
			  $(this).css('font-size', '1.0em');
			},
			function(){
			  $(this).css('background-color', '#fff');
			  $(this).css('font-size', '1.0em');
			});
  });
</script>
<div id="StageNarrow">
  <ul class="breadcrumbs">
	<li>
	  <a href="/musicians">Musician Roll-a-dex</a>
	</li>
	<li>
	  <%= render :partial => "instruments", :locals => { :instruments => instruments} %>
	</li>
  </ul>
  <%= render :partial => "pager", :locals => { :page => @page,  :total =>@total_players, :page_size=>@page_size}%>

  <div class="cd-inside">

	<% count=0
	   for item in players %>
	  <%
		 fullname = item.first_name.gsub( %r{</?[^>]+?>}, '' ) + " " + item.last_name.gsub( %r{</?[^>]+?>}, '' )
		 if (item.cell_phone && item.cell_phone!="" && !item.cell_phone.nil?)
		   item.cell_phone.gsub!(/[^\d]/,'')
		   item.cell_phone = number_to_phone(item.cell_phone)
		 end
		 if (item.home_phone && item.home_phone!="" && !item.home_phone.nil?)
		   item.home_phone.gsub!(/[^\d]/,'')
		   item.home_phone = number_to_phone(item.home_phone)
		 end
		 if !item.url.nil? && !item.url.blank? && item.url !~/^http:\/\//
		   item.url = "http://#{item.url}"
		 end

		 if count%2==0
		   if count>0 %>
		  </div>
		<% end %>
		<div class="player-row row-fluid" >
	  <% end %>

	  <div class="span6">
		<div class="span3 player-pic-column">
		  <%= render :partial => "common/renderpic", :locals => { :user => item, :size =>"70"} %>
		</div>
		<div class="span9 player-data">

		  <div class="player-name">
			<strong><a class="" href="/members/profile/<%=item.username%>"><%= truncate(fullname.titleize, :length => 20) %></a></strong>
		  </div>

		  <div class="player-phone">
			<% if !item.cell_phone.nil? && !item.cell_phone.blank? %>
			  <i class="icon-signal" style="padding-right:5px;"></i><%= item.cell_phone || "--" %> <br/>
			<% end %>
			<% if !item.home_phone.nil? && !item.home_phone.blank? %>
			  <i class="icon-home" style="padding-right:5px;"></i><%= item.home_phone || "--" %>
			<% end %>
		  </div>

		  <%
			 if !item.url.nil? && !item.url.blank?
		  %>
			<div class="player-url">

			  <i class="icon-globe" style="padding-right:5px;"></i><a href="<%= item.url %>">website</a>
			</div>
		  <% end %>
		</div>
	  </div>


	<%
	   count=count+1
	   end %>


	</div>
	<div class="hspacer"></div>
	<%= render :partial => "pager", :locals => { :page => @page,  :total =>@total_players, :page_size=>@page_size}%>


	<div class="alert">
	  Musicians: to be listed on these pages, ensure your account is set to "musician" with a photo, phone number(s) and/or website.
	</div>
	</div>
</div>