
<div id="StageNarrow">
    <div class="inside">

        ><a href="/">Home</a>> <a href="/musicians">Musicians</a> > Profile

        <div class="hspacer"></div>

        <div class="Header"><%=@musician.first_name%> <%=@musician.last_name%></div>
         <div class="hspacer"></div>
        
        <% if @musician.image_url %>
            <img src="<%=@musician.image_url%>" align="left" alt="<%=@musician.first_name%> <%=@musician.last_name%>"
                 hspace="3" vspace="2" width="150"/>
        <% end %>


        <% if @musician.about_me %>
            <%=@musician.about_me%><br/><br/>
        <% end %>
        <table width="400" cellspacing="2" cellpadding="2" align="left">
                <tr>
                    <td align="center"><img src="/images/icons/vcard.png" alt="email"  hspace="2"/></td>
                    <td>
        <%= link_to "vCard (address box format)", {:action => "vcard", :id=>@musician.id}%></td>
                </tr>
            <% end %>
            <% if @musician.url %>
                <tr>
                    <td align="center"> <img src="/images/icons/links-16.gif" alt="email"  hspace="2"/></td>
                    <td><a href="<%=@musician.url%>" target="_new"><%=@musician.url%></a></td>
                </tr>
            <% end %>
            <% if @musician.cell_phone %>
                <tr>
                    <td align="center"><img src="/images/icons/cell_phone.gif" alt="email"  hspace="2"/></td>
                    <td><%=@musician.cell_phone%></td>
                </tr>
            <% end %>
            <% if @musician.home_phone %>
                <tr>
                    <td align="center"><img src="/images/icons/home_phone.gif" alt="email"  hspace="2"/></td>
                    <td><%= @musician.home_phone %></td>
                </tr>
            <% end %>
            <% if @musician.location %>
                <tr>
                    <td align="center"> <img src="/images/icons/home-16.gif" alt="email"  hspace="2"/></td>
                    <td><%= @musician.location %></td>
                </tr>
            <% end %>
        </table>
        <% if @isaplaya %>
            <div class="hspacer"></div>

            <b><%= @musician.first_name %> plays following instrument(s):</b><br/>
            <% for item in @instruments %>
                <a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name %></a><br/>
            <% end %>
        <% end %>

        <div class="hspacer"></div>

    </div>
</div>

            <% if @musician.email %>
                <tr>
                    <td align="center"><img src="/images/icons/letter.png" alt="email"  hspace="2"/></td>
                    <td><%=@musician.email%></td>
                </tr>
            <% end %>
            <% if @musician.url %>
                <tr>
                    <td align="center"> <img src="/images/icons/links-16.gif" alt="email"  hspace="2"/></td>
                    <td><a href="<%=@musician.url%>" target="_new"><%=@musician.url%></a></td>
                </tr>
            <% end %>
            <% if @musician.cell_phone %>
                <tr>
                    <td align="center"><img src="/images/icons/cell_phone.gif" alt="email"  hspace="2"/></td>
                    <td><%=@musician.cell_phone%></td>
                </tr>
            <% end %>
            <% if @musician.home_phone %>
                <tr>
                    <td align="center"><img src="/images/icons/home_phone.gif" alt="email"  hspace="2"/></td>
                    <td><%= @musician.home_phone %></td>
                </tr>
            <% end %>
            <% if @musician.location %>
                <tr>
                    <td align="center"> <img src="/images/icons/home-16.gif" alt="email"  hspace="2"/></td>
                    <td><%= @musician.location %></td>
                </tr>
            <% end %>
        </table>
        <% if @isaplaya %>
            <div class="hspacer"></div>

            <b><%= @musician.first_name %> plays following instrument(s):</b><br/>
            <% for item in @instruments %>
                <a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name %></a><br/>
            <% end %>
        <% end %>

        <div class="hspacer"></div>

    </div>
</div>

