
<ul class="breadcrumbs">
  <li>
    <a href="/articles">Articles</a>
  </li>
  <li>
    <%=@page_title%>
  </li>

</ul>

<div class="home-inside">
  <%= render :partial => "header", :locals => {:section_id =>@section_id, :skip_pager=>false}%>


  <table class="index-two-column">
    <% counter=0
       for item in @articles
           current_id= (item.sub_title && item.sub_title.length>0)? item.sub_title : item.content_id
    %>
        <% if counter%2==0 %><tr><% end %>
        <td>
          <% if item.image_url && !item.image_url.blank?  %>
              <%= link_to image_tag(item.image_url, :width=>'70', :height=>'70',:align=>'left',:hspace=>'2', :title=>item.title, :alt=>item.title), {:action => "words", :controller=>"articles", :id=>current_id, :type=>@section_id, :page=>@page} %>
          <% elsif item.photo.exists? then %>
              <%= image_tag item.photo.url(:thumb), :align=>"left", :width=>'70',:hspace=>'2' %>
          <% end %>

          <%= link_to item.title, {:action => "words",  :id=>current_id, :type=>@section_id, :page=>@page}, :class=>"blueLink"%>
          <% if item.display_date && item.author && item.author.downcase!="press release" %>

          <% end %><%=item.teaser %>
        </td>
        <% counter=counter+1
           if counter%2==0 %>
            </tr>
        <% end %>
    <% end %>
  </table>



