<%
 @page = @page || 1
%>
<div id="StageNarrow">

  <div class="contentTypeList">
      <a <% if @sectionId=="1" %>class="selected"<%end%> href="/articles/?page=<%=@page%>">Headlines</a> |
      <a <% if @sectionId=="6" %>class="selected"<%end%> href="/articles/reviews?page=<%=@page%>">Reviews</a> |
      <a <% if @sectionId=="5" %>class="selected"<%end%> href="/articles/artists?page=<%=@page%>">Concerts and Interviews</a> |
      <a <% if @sectionId=="3" %>class="selected"<%end%> href="/articles/opinions?page=<%=@page%>">Opinion</a>
      <%if logged_in? && current_user.editor_flag==1 -%>
          | <a href="/articles/new"><img src="/images/icons/reply.png" border="0" alt="edit">New Article</a>
      <% end -%>
    </div>
  <div class="cd-inside">
    <%= render :partial => "common/socialrow", :locals => {
            :title=>@article.title,
            :url=>request.url
    }
    %>
    <div class="StoryHeader">
      <%=@article.title%>
    </div>
    <% if @article.author_id %>
        by <a href="/members/profile/<%= @article.author_id%>"><%=@article.author%></a>
    <% else %>
        by <b><%=@article.author%></b>
    <% end %>
    <% if @article.display_date %>
        <br/><i><%= @article.display_date.strftime("%b %d %Y") %> </i>
    <% end %>
    <%if logged_in? && current_user.editor_flag==1 -%>
        <a href="/articles/edit/<%=@article.content_id%>"><img src="/images/icons/reply.png" border="0" alt="edit">Edit</a><br/>
    <% end -%>


    <div class="hspacer"></div>
    <div class="wordText">
      <%=raw @article.body_text.html_safe%>
    </div>

    <div class="hspacer"></div>

  <div class="hspacer"></div>




</div>
</div>

