<%
   @page = @page || 1
%>
<div id="StageNarrow">

  <ul class="breadcrumbs">
	<li>
	  <a href="/articles">Articles</a>
	</li>
	<li>
	  <a href="/articles?id=<%=@section_id%>&page=<%=@page%>"><%=@section_title%></a>
	</li>
	<li>
	  Story
	</li>
  </ul>

  <%= render :partial => "header", :locals => {:section_id =>@section_id, :skip_pager=>true}%>

  <div class="cd-inside">
	<div class="articleMasthead">
	  <% if @article.display_date %>

		<div class="StoryHeader">
		  <% if !@article.external_image_url.blank? %>
			<img src="<%=@article.external_image_url%>" align="left" hspace="2" width="100" hspace="2">
		  <% elsif !@article.image_url.blank? %>
			<%= image_tag @article.image_url(:small).to_s, :align=>"left", :width=>"100", :hspace=>"2" %>
		  <% end %>
		  <%=@article.title%> <%if logged_in? && current_user.editor_flag==1 -%>
			<br/><%= @article.display_date.strftime("%B #{@article.display_date.day.ordinalize} %Y") %>
		  <% end %>
		  <br/>
		  <% if @article.author_id %>
			by <a href="/members/profile/<%= @article.author_id%>"><%=@article.author%></a>
		  <% else %>
			by <b><%=@article.author%></b>
		  <% end %>
		  <a style="font-size:12px;" href="/articles/edit/<%=@article.content_id%>"><img src="/images/icons/reply.png" border="0" alt="edit">Edit Story</a><br/>
	  <% end -%>
	  </div>
	</div>

	<div class="fb-like" data-href="http://jazzhouston.com/articles/words/<%=@article.content_id%>/" data-width="250" data-action="recommend" data-show-faces="true" data-send="true"></div>

	<div class="wordText">

	  <%=raw @article.body_text.gsub(/\n\r/, '</p><p>') %>

	</div>
	<%= render :partial => "common/socialrow", :locals => {
			:title=>@article.title,
			:url=>request.url
	}
	%>
	<div class="hspacer"></div>

	<div class="hspacer"></div>




  </div>
</div>

