<%
   @page = @page || 1
%>
<div id="StageNarrow">

  <ul class="breadcrumbs">
    <li>
      <a href="/articles">Articles</a>
    </li>
    <li>
      <a href="/articles?id=<%=@section_id%>&page=<%=@page%>"><%=@section_title%></a>
    </li>
    <li>
      Story
    </li>
  </ul>

  <%= render :partial => "header", :locals => {:section_id =>@section_id, :skip_pager=>true}%>

  <div class="cd-inside">
    <div class="StoryHeader">
      <%=@article.title%> <%if logged_in? && current_user.editor_flag==1 -%>
          <a style="font-size:12px;" href="/articles/edit/<%=@article.content_id%>"><img src="/images/icons/reply.png" border="0" alt="edit">Edit Story</a><br/>
      <% end -%>
    </div>
    <% if @article.display_date %>
        <%= @article.display_date.strftime("%B #{@article.display_date.day.ordinalize} %Y") %>
    <% end %>
    <% if @article.author_id %>
        by <a href="/members/profile/<%= @article.author_id%>"><%=@article.author%></a>
    <% else %>
        by <b><%=@article.author%></b>
    <% end %>
    <div class="wordText">
      <% if @article.photo.exists? then %>
          <%= image_tag @article.photo.url(:small), :align=>"left", :width=>"150", :hspace=>"3" %>
      <% end %>
      <% if html_break_flag = 0 %>
          <%=raw @article.body_text%>
      <% else %>
          <%=simple_format(@article.body_text.html_safe, {}, :sanitize => false)%>
      <% end %>
    </div>
    <%= render :partial => "common/socialrow", :locals => {
            :title=>@article.title,
            :url=>request.url
    }
    %>
    <div class="hspacer"></div>

    <div class="hspacer"></div>




  </div>
</div>

