<b>Lost your Password for Jazzhouston? </b>
<br/><br/>
Your username is <%= @account.username %><br/>

To reset your password, visit this link: <br/>
http://www.jazzhouston.com/members/resetpassword/<%= @account.username %>/<%=@key%>
<br/>
Or just <a href="http://www.jazzhouston.com/members/resetpassword/<%= @account.username %>/<%=@key%>">Click here</a>