<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Lost your Password for Jazzhouston?
<br/><br/>
Your username is <%= @account.username %>
<br/><br/>

To reset your password, visit this link:
<br/><br/>

<a href="http://www.jazzhouston.com/members/resetpassword/<%= @account.username %>/<%=@key%>">http://www.jazzhouston.com/members/resetpassword/<%= @account.username %>/<%=@key%></a>
<br/><br/>

Or copy and paste:
<br/><br/>

http://www.jazzhouston.com/members/resetpassword/<%= @account.username %>/<%=@key%>

</body>
</html>
