<!-- Stage for home page -->
<div id="StageHome" >
  <ul class="breadcrumbs">
    <li>
      <a href="/home">Home</a>
    </li>
    <% if logged_in?%>
        <li>Welcome <%=current_user.first_name%>!   </li>
    <% end %>
  </ul>
  <div class="inside">
    <div id="homegrid">

      <table>
        <tr>
          <td class="leftcol">
            <h2>Playing Today</h2>
            <div class="hspacer"></div>
            <% for item in @showsToday %>
                <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %>
                <% if item.venue %>
                    @<%= link_to item.venue.title,  {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>
                <% end %>
                <div class="hspacer"></div>
            <% end %>

            <h2>More Shows This Week</h2>
            <div class="hspacer"></div>
            <ul class="showListMain">
              <%  currentDOW=""
                  for item in @showsThisWeek
                      dow=item.show_date.to_datetime.strftime("%A")
                      if (dow!=currentDOW)
              %>
                      <li class="showListMainDOW"><b><a href="/events/<%=item.show_date.to_datetime.strftime("%Y")%>/<%=item.show_date.to_datetime.strftime("%m")%>/<%=item.show_date.to_datetime.strftime("%d")%>"><%=dow%></a></b></li>
                  <% end %>
                  <li>
                    <a href="/events/details/<%=item.event_id%>"><%=item.performer%></a>
                  </li>
              <%  currentDOW=item.show_date.to_datetime.strftime("%A")
                  end %>

            </ul>
            <div class="hspacer"></div>
            <a class="blueLink" href="/events/shows">see more upcoming shows</a>
            <div class="hspacer"></div>

            <h2>New Local CD Releases</h2>
            <div class="hspacer"></div>
            <div class="newslist">
              <ul>
                <% for item in @albums %>
                    <li class="newslist-feature">
                      <% if item.image_url != ""  %>
                          <%= link_to  image_tag(item.image_url,:width=>'50', :height=>'50', :align =>'left', :hspace=>'2'), {:action => "about", :controller=>"releases",  :id=>item.album_id} %>
                      <% end %>
                      <%= link_to item.title, {:action => "about", :controller=>"releases",  :id=>item.album_id} %> <br/>
                      <%=item.artist_name%> <br/>
                    </li>
                <% end %>
              </ul>
            </div>
          </td>

          <td id="jh_news_feature">
            <h2>News and Reviews </h2>
            <div class="newslist">
              <ul>
                <% counter=0
                   if @articles.length==0 %>
                <% end %>
                <% for item in @articles
                       current_id= (item.sub_title && item.sub_title.length>0)? item.sub_title : item.content_id
                %>
                    <li class="newslist-feature">

                      <% if item.image_url && !item.image_url.blank?  %>
                          <%= link_to image_tag(item.image_url, :width=>'70', :height=>'70',:align=>'left',:hspace=>'2', :title=>item.title, :alt=>item.title), {:action => "words", :controller=>"articles", :id=>current_id, :type=>@section_id, :page=>@page} %>
                      <% elsif item.photo.exists? then %>
                          <%= image_tag item.photo.url(:thumb), :align=>"left", :width=>'70',:hspace=>'2' %>
                      <% end %>
                      <%= link_to item.title, {:action => "words", :controller=>"articles",  :id=>current_id} %>
                      <br/><span style="padding-top: 5px; font-size:0.9em;">
                      <%= item.teaser %>  </span>
                    </li>
                <% end %>
              </ul>
              <div class="hspacer"></div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2" id="jh_about_wrapper">
            <h2>About Jazz(in)Houston</h2>
            <div class="hspacer"></div>
            <%= render :partial => "/common/about"%>
            On JazzHouston you will find <a href="/events">upcoming shows</a>,
            <a href="/musicians">local players</a>, <a href="/releases">CDs releases</a>, <a href="/education">Jazz Education</a>
            opportunities, and much more. This site is a community effort that has been online since 1995. Be sure to <a href="/members">join</a> to
            participate in the forums and to be listed in the musician directories.
          </td>
        </tr>



      </table>
    </div>
  </div>

</div> <!-- end Stage -->



	
