
  <div id="StageMedium">
    <ul class="breadcrumbs">
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        By Date
      </li>
    </ul>

  <%= render :partial => "/events/calendar"%>

  <div class="cd-inside">
    <div class="hspacer"></div>
    <h2>Shows for <%=  @curTime.strftime("%A, %B #{@curTime.day.ordinalize}") %></h2>
    <% if @onenighters.length==0 %>
        <br/>No shows scheduled for this date:
        see <a href="/events/shows">upcoming shows</a>

    <% end %>
    <br/>
    <% for item in @onenighters %>
        <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id}, {:remote => true} %>

        <% if item.venue %>
            @<%= link_to item.venue.title,  {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>,

        <% end %>
        <%= item.show_time %>
        <div class="hspacer"></div>
    <% end %>

    <div class="hspacer"></div>
    <h2>Appearing Every <%=  @curTime.strftime("%A") %></h2>
    <div class="hspacer"></div>
    <% for item in @steadies %>
        <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id}, {:remote => true} %>
        <% if item.venue %>
            @<%= link_to item.venue.title,  {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>,

        <% end %>
        <%= item.show_time %>

        <div class="hspacer"></div>
    <% end %>
  </div>
</div>
