<div id="jh_events_featured_content">
    <div class="panel-inside">
        <a href="/events/details/<%= @fshow.event_id%>"><%= @fshow.performer%></a> -- <%= @fshow.about %>
        <br/><br/>
	<% if @fshow.venue %>
        <a href="/venues/about/<%= @fshow.venue_id %>"><%= @fshow.venue.title %></a>,
	<% end %>
	<% 
        dow=Date::DAYNAMES
	if @fshow.show_date %>
        	<%= @fshow.show_date.strftime("%A, %m/%d/%Y") %>
        <% else %>
                Every <%= dow[@fshow.day_of_week] %>
	<% end %>
    </div>
</div>
