<div id="StageMedium">
  <ul class="breadcrumbs">
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      Today
    </li>
  </ul>

  <%= render :partial => "/events/calendar"%>

  <div class="cd-inside">


    <div id="showgrid">

      <div class="hspacer"></div>
      <h2>Playing Today: <%=  @curTime.strftime("%A, %B #{@curTime.day.ordinalize}") %></h2>
      <div class="hspacer"></div>
      <% for item in @showsToday %>
          <%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %>
          <% if item.venue %>
              @<%= link_to item.venue.title,  {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>,

          <% end %>
          <%= item.show_time %>
          <div class="hspacer"></div>
      <% end %>
      <h2>More Shows This Week</h2>
      <div class="hspacer"></div>
      <ul class="showListMain">
        <%  current_dow = ""
            for item in @showsThisWeek
                dow = item.show_date.to_datetime.strftime("%A")
                if (dow != current_dow)
        %>
                <li class="showListMainDOW"><b><a href="/events/<%=item.show_date.to_datetime.strftime("%Y")%>/<%=item.show_date.to_datetime.strftime("%m")%>/<%=item.show_date.to_datetime.strftime("%d")%>"><%=dow%></a></b></li>
            <% end %>
            <li>
              <a href="/events/details/<%=item.event_id%>"><%=item.performer%></a>
            </li>
        <%  current_dow = item.show_date.to_datetime.strftime("%A")
            end %>

      </ul>
      <a class="blueLink" href="/events/shows">see more upcoming shows</a>
      <div class="hspacer"></div>


      <h2>Jam Sessions</h2>
      <div class="hspacer"></div>
      <% if @jams  %>
          <% for item in @jams %>
              <% if item.event_type_id==1 && item.show_date %>
                  <a href="/events/<%=item.show_date.to_datetime.strftime("%Y")%>/<%=item.show_date.to_datetime.strftime("%m")%>/<%=item.show_date.to_datetime.strftime("%d")%>"><%=item.show_date.to_datetime.strftime('%A')%></a>,
              <% else %>
                  <b><%= Date::DAYNAMES[item.day_of_week] %></b>
              <% end %>
              <a href="/events/details/<%=item.event_id%>"><%=item.performer%></a>:
              <% if item.venue %>
                   <span class="smallText">
                    <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>
                   </span>
              <% end %>
              <div class="hspacer"></div>
          <% end %>
      <% else %>
          <p class="smallText">None scheduled</p>
      <% end %>
    </div>


  </div>
</div>
