<div data-role="content">
  <h3 id="show_listing_header">
	<%= display_date.strftime("%A, %B #{display_date.day.ordinalize}") %>
  </h3>

  <ul data-role="listview">

	<%
	   # assumes sorted by event_type_id asc, 1=>shows, 2=>steadies
	   group_names = ["Shows" ,"Steadies"]
	   group_str = ""
	   for item in shows_on_date
	%>
	  <% if group_str != group_names[item.event_type_id - 1]%>
		<% group_str = group_names[item.event_type_id - 1] %>
		<li data-role="list-divider" data-dividertheme="a"><%=group_str%></li>
	  <% end %>
	  <li><%= link_to "#{item.performer} at #{item.venue.title}, #{item.show_time}", {:action => "details", :controller=>"events", :id=>item.event_id} %></li>
	<%
	   end %>
  </ul>

  <div class="hspacer"></div>
  <!-- Calendar & Jams -->
  <h3>Jam Sessions</h3>
  <% if !jams.nil?  %>
	<% for item in jams %>
	  <% if item.event_type_id==1 && item.show_date %>
		<a href="/events/<%=item.show_date.to_datetime.strftime("%Y")%>/<%=item.show_date.to_datetime.strftime("%m")%>/<%=item.show_date.to_datetime.strftime("%d")%>"><%=item.show_date.to_datetime.strftime('%A')%></a>,
	  <% else %>
		<b><%= Date::DAYNAMES[item.day_of_week] %></b>
	  <% end %>
	  <a href="/events/details/<%=item.event_id%>"><%=item.performer%></a>
	  <% if item.venue %>
		at <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>
	  <% end %>
	  <div class="hspacer"></div>
	<% end %>
  <% else %>
	<p class="smallText">None scheduled</p>
  <% end %>
</div>

