<script src="/common/js/libs/jsrender.js"></script>


<div id="StageMedium">
  <ul class="breadcrumbs">
	<li>
	  <a href="/events">Events</a>
	</li>
	<li>
	  Today
	</li>
  </ul>


  <%= render :partial => "/events/calendar"%>
  <br/>
  <div class="cd-inside">
	<div class="row-fluid">
	  <!-- Calendar & Jams -->
	  <div class="span5">
		<div class="row-fluid">
		  <div id="datepicker"></div>
		</div>
		<div class="row-fluid">
		  <br/>
		  <h3>Jam Sessions</h3>
		  <% if !jams.nil?  %>
			<% for item in jams %>
			  <% if item.event_type_id==1 && item.show_date %>
				<a href="/events/<%=item.show_date.to_datetime.strftime("%Y")%>/<%=item.show_date.to_datetime.strftime("%m")%>/<%=item.show_date.to_datetime.strftime("%d")%>"><%=item.show_date.to_datetime.strftime('%A')%></a>,
			  <% else %>
				<b><%= Date::DAYNAMES[item.day_of_week] %></b>
			  <% end %>
			  <br/>
			  <a href="/events/details/<%=item.event_id%>"><%=item.performer%></a>:
			  <% if item.venue %>
                   <span class="smallText">
                    <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>
                   </span>
			  <% end %>
			  <div class="hspacer"></div>
			<% end %>
		  <% else %>
			<p class="smallText">None scheduled</p>
		  <% end %>
		</div>

	  </div>

	  <!-- Show Listing -->
	  <div class="span7">
		<h3 id="show_listing_header">
		  Playing Today, <%=  display_date.strftime("%A, %B #{display_date.day.ordinalize}") %>
		</h3>
		<br/>
		<div id="show_listing">
		  <div class="hspacer"></div>
		  <% for item in shows_on_date %>
			<% if item.event_type_id==1 && item.venue.listeningroom==1 %>
			  <i class="icon-star icon-yellow" rel="tooltip" data-toggle="tooltip" data-placement="top" data-original-title="One-Night Only" style="padding-right: 5px;"></i>
			<% else %>
			  <i class="icon-refresh"  rel="tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Weekly Engagement" style="padding-right: 5px;"></i>
			<% end %>

			<%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %>
			<% if item.venue %>
			  at <%= link_to item.venue.title,  {:action => "about", :controller=>"venues", :id=>item.venue.venue_id}, :class=>"venueLink" %>,

			<% end %>
			<%= item.show_time %>
			<div class="hspacer"></div>
		  <% end %>

		</div>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span12">
		<div class="hspacer"></div>
		<div class="alert">
		  Would you like to list your show on JazzHouston.com? Simply fill out our gig request form found <a href="/site/feedback">here</a>. Be sure to follow our guidelines to
		  ensure we get it listed quickly.
		  <div class="hspacer"></div>
		  <b>Show Guidelines</b>:
		  <br/>Artist or Band name:
		  <br/>Event Date or Day-of-Week if recurring:
		  <br/>Venue Name:
		  <br/>Basic Description (one paragraph):
		  <br/>Artist Web Site:
		  <br/><br/>
		</div>
	  </div>
	</div>
  </div>
</div>

<script id="show_listing_tmpl" type="text/x-jsrender">
  {{if ((event_type_id==1) && (venue.listeningroom==1) )  }}
  <i class="icon-star icon-yellow" rel="tooltip" data-toggle="tooltip" data-placement="top" data-original-title="One-Night Only" style="padding-right: 5px;"></i>
  {{else}}
  <i class="icon-refresh"  rel="tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Weekly Engagement" style="padding-right: 5px;"></i>
  {{/if}}

  <a href="/events/details/{{:event_id}}">{{:performer}}</a>
  at <a href="/venues/about/{{:venue.venue_id}}">{{:venue.title}}</a>
  {{:show_time}}
  <div class="hspacer"></div>
</script>

<script type="text/javascript">
  /**
   * On-Ready jQuery block
   */
  $(function() {
	$("#datepicker").show();
  });

</script>
