<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:media="http://search.yahoo.com/mrss/" xmlns:feedburner="http://rssnamespace.org/feedburner/ext/1.0" version="2.0">
  <channel>
    <link href="http://www.jazzhouston.org/events/rss" rel="self" type="application/rss+xml" />
    <title>JazzHouston | Today's Show (RSS Feed)</title>
    <link>http://www.jazzhouston.com/events/</link>
    <description>Houston Jazz Event Listings for <%=  @cur_time.strftime("%A %B %d %Y") %></description>
    <language>en-us</language>
    <ttl>90</ttl>
    <pubDate><%= @cur_time.strftime("%a, %d %b %Y %H:%M:%S") %> CST</pubDate>
    <copyright>Copyright(c) 1996- JazzHouston.com</copyright>
    <lastBuildDate><%= @cur_time.strftime("%a, %d %b %Y %H:%M:%S %Z") %></lastBuildDate>

    <%
       count=0
       adjTime = @cur_time-1.hour
       unless @showlist.nil?
           for item in @showlist
               if (count<3*(@segment+1) and count>= 3*(@segment))
    %>
                <item>
                  <title><![CDATA[<%= item.performer%>]]></title>
                  <link>http://www.jazzhouston.com/events/details/<%=item.event_id%></link>
                  <description><![CDATA[<%= item.show_time %> at <%=item.venue.title%>
                    ]]></description>
                  <pubDate><%= (adjTime+count.minute).strftime("%a, %d %b %Y %H:%M:%S")%> CST</pubDate>
                  <guid><![CDATA[http://www.jazzhouston.com/events/rss/<%=item.event_id%>]]></guid>
                </item>
            <%	end
                  count=count+1
                  end
                  end %>
  </channel>
</rss>
