<%= render :partial => "common/tinymce" %>
<link rel="stylesheet" href="/common/js/jquery/css/jquery-ui.css" type="text/css" media="all" />
<script src="/common/js/libs/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * On-Ready jQuery block
     */

    $(function() {
        // calendar
        $( "#album_release_date" ).datepicker({
            dateFormat: 'yy-mm-dd'
        });

        // artist search
        $( "#album_artist_search" ).autocomplete({
            source: function(request, response) {
                $.ajax({
                    url:"/members/search",
                    dataType: "json",
                    data: {
                        query: request.term,
                        maxRows: 15
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.user.first_name +' '+ item.user.last_name,
                                value: item.user.user_id
                            }
                        }))
                    }
                })
            },
            dataType: 'json',
            minLength: 3,
            select: function( event, ui ) {
                event.preventDefault();
                var message = "You selected: <b><a href='/members/profile/"+ui.item.value+"'>"+ui.item.label+"</a></b>";
                $( "#album_artist_search" ).val( ui.item.label );
                $( "<div/>" ).html( message ).prependTo( "#album_artist_result" );
                $( "#album_artist_result" ).scrollTop( 0 );
                $( "#album_musician_id" ).val( ui.item.value );
                $( "#album_artist" ).val( ui.item.label );
            }
        });



    });

    /**
     * Validation
     */
    function validate() {
        if ( !$("#album_artist_name").val()) {
            alert("You must enter an artist");
            return false;
        }
        if ( !$("#album_title").val()) {
            alert("You must enter a title");
            return false;
        }
        if (!$("#album_release_date").val()) {
            alert("The CD needs a release date");
            return false;
        }

        if (!$("#album_image_url").val()) {
            alert("The CD needs cover art");
            return false;
        }
        return true;
    }



</script>

<div id="StageNarrow">
  <div class="inside">
    <h2><%=@mode%> Album</h2>
    <%= form_for  @album , :html => {:multipart => true , :onsubmit => "return validate();" }, :url => { :action => @target} do |f| %>
        <% if @mode=="Edit" %>
            <div class="hspacer"></div>
            Preview: <%= link_to @album.title, {:action => "about", :id=>@album.album_id} %><br/>
            <input type="hidden" id="id" name="id" value="<%=@album.album_id%>" >
        <% end %>

        <p class="color2">
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </p>
        <p class="color4">
          Artist Name(s)<br />
          <%= f.text_field :artist_name %>
        </p>
        <% if @mode=="Edit" %>
            <input type="hidden" id="album_musician_id" name="album[musician_id]" value="<%=@album.musician_id%>"/>
        <% else %>
            <input type="hidden" id="album_musician_id" name="album[musician_id]"/>
        <% end %>

        <p  class="color2">
          JazzHouston Profile Link (optional)<br/>
        <%= f.hidden_field :musician_id %>
          <input id="album_artist_search" size="30" placeholder="auto-search: type away!"/>
          <div id="album_artist_result" ><% if @album && @album.musician_id>0  %>
                Artist set to <b><a href="/members/profile/<%= @album.musician_id %>">profile link</a> </b>
            <% end %></div>
        </p>
        <p class="color4">
          <%= f.label :release_date %><br />
          <%= f.text_field :release_date, :size=>"8", :placeholder=>"click to set" %>
        </p>

        <p class="color2">
          <%= f.label :image_url %><br />
          <%= f.text_field :image_url, :placeholder=>'http://' %>
        </p>
        <p class="color4">
          <%= f.label :related_url %><br />
          <%= f.text_field :related_url, :placeholder=>'http://' %>
        </p>
        <p class="color2">
          <%= f.label :buy_url %><br />
          <%= f.text_field :buy_url, :placeholder=>'http://' %>
        </p>

        <p class="color4">
          Album Genre<br/>
          <%
             genre=[["Jazz Vocal",1],["Piano Trio",2],["Instrumental Straight-Ahead",3],["Urban Contemporary",4],["Duos",6],["Solo",7],["Latin Jazz",8],
                    ["Fusion",9],["Experimental/Avant-Garde",10],["Big Band",11]]
          %>
          <%= select("album", "genre_id", genre) %><br />
        </p>
        <p class="color4">
          <%= f.label :about %><br />
          <%= f.text_area :about, :class =>"tinymce"%>
        </p>
        <p class="color2">
          <%= f.submit @mode %>
        </p>
    <% end %>
  </div>
</div>
