<script src="/common/js/Ext.ux.GMapPanel.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%=@key%>"
        type="text/javascript"></script>

<script type="text/javascript">

    Ext.onReady(function(){

        var mapwin;
        var button = Ext.get('show-btn');

        button.on('click', function(){
            // create the window on the first click and reuse on subsequent clicks
            if(!mapwin){

                mapwin = new Ext.Window({
                    layout: 'fit',
                    title: "<%=@venue.title%>",
                    closeAction: 'hide',
                    width:400,
                    height:400,
                    x: 240,
                    y: 160,
                    items: {
                        xtype: 'gmappanel',
                        region: 'center',
                        zoomLevel: 14,
                        gmapType: 'map',
                        mapConfOpts: ['enableScrollWheelZoom','enableDoubleClickZoom','enableDragging'],
                        mapControls: ['GSmallMapControl','GMapTypeControl','NonExistantControl'],
                        setCenter: {
                            geoCodeAddr: '<%=@venue.address%>,  USA',
                            marker: {title: "<%=@venue.title%>"}
                        },
                        markers: [{
                            lat: 42.339641,
                            lng: -71.094224,
                            marker: {title: 'venue'},
                            listeners: {
                                click: function(e){
                                    Ext.Msg.alert('JazzHouston.com Google Map window', 'and its art.');
                                }
                            }
                        },{
                            lat: 42.339419,
                            lng: -71.09077,
                            marker: {title: "<%=@venue.title%>"}
                        }]
                    }
                });

            }

            mapwin.show();

        });

    });

</script>

<div id="StageNarrow">
    <div class="inside">

        <div style="float:left;">
            ><a href="/home">Home</a>> <a href="/events/">Shows</a>> <%=@show.performer%>
        </div>

        <%if logged_in? && current_user.editor_flag==1 -%>
            <div style="float:right;">
                <%= link_to '<img src="/images/icons/reply.png" border="0" alt="edit">', {:action => "edit", :id=>@show.event_id} %>Edit<br/>
            </div>
        <% end -%>
        

        <div class="hspacer"></div>
	<div class="HeaderShow"><%=@show.performer%><br/>
<!--
	<% if @show.show_date %>
            <%= @show.show_date.strftime("%B %d %Y") %>
        <% end %>
        <% if @show.day_of_week && !@show.show_date %>
            <%= @dow[@show.day_of_week] %>s 
        <% end %>
-->
	</div>
        <div class="hspacer"></div>
 <table class="index-two-column-small">
            <tr>
                <td valign="top" width="65%" style="border-right: 1px solid;">
        <b><%= @show.performer %></b><br/>
        <%= @show.about %>
        <div class="hspacer"></div>
        <% if @player%>
            Musician Profile: <a href="/members/profile/<%= @player.user_id %>"><%=@player.first_name%> <%=@player.last_name%></a>   <br/>
        <% end %>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
	    </td>

            <td valign="top" width="35%">
        <% if @show.show_date %>
            <b><%= @show.show_date.strftime("%A, %B %d, %Y") %></b> <br/>
        <% end %>
        <% if @show.day_of_week && !@show.show_date %>
            <b><%= @dow[@show.day_of_week] %>s</b> <br/>
        <% end %>
        <% if @show.venue  %>
        <a href="/venues/about/<%= @show.venue_id %>"><%= @show.venue.title %></a>, <%=@show.show_time%><br/>
	<% end %>
        <% if @show.related_url && @show.related_url!=""%>
	    <br/>
            Related Site: <a href="<%=@show.related_url%>"><%=@show.related_url%></a>
        <% end %>
        <div class="hspacer"></div>
<script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .fb_share_link { padding:2px 0 0 20px; height:16px; background:url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?0:26981) no-repeat top left; }</style><a href="http://www.facebook.com/share.php?u=%3Curl%3E" onclick="return fbs_click()" target="_blank" class="fb_share_link">Share this show on Facebook</a>

	</td></tr></table>
        <div class="hspacer"></div>

        <div class="HeaderShow">
            <%= @venue.title %>
        </div>
        <div class="hspacer"></div>
 <table class="index-two-column-small">
            <tr>
                <td valign="top" colspan="2">
	<% if @venue.image_url && @venue.image_url!="" %>
        <img src="<%=@venue.image_url%>" align="left" hspace="2" width="150">
        <% end %>
<%= @venue.about %>
        
        <div class="hspacer"></div>

        <b>Address:</b> <%=@venue.address%>
        <input type="button" id="show-btn" value="Google Map" />
        <br/><b>Phone:</b> <%=@venue.phone%>
        <% if @venue.related_url %>
        <br/><b>Web Site:</b> <a href="<%=@venue.related_url%>"><%=@venue.related_url%></a>
        <% end %>
	<br/>
	<a href="/venues/about/<%= @show.venue_id %>#shows"><b>More</b></a> upcoming shows at <%=@venue.title%>

	</td></tr></table>


        <div class="hspacer"></div>
    

    </div>
</div>

