<script language="javascript" src="/mediaplayers/rave/rave.js"></script>

<div id="StageNarrow">
  <div class="home-inside">

    <div class="Header">
      Houston Jazz CD's
    </div>
    <%if logged_in? && current_user.editor_flag==1 -%>
        <div style="float:right;">
          <a href="/releases/new/"><img src="/images/icons/reply.png" border="0" alt="edit">New Album</a>
        </div>
    <% end -%>
    <%= render :partial => "genre"%>
    <div class="hspacer"></div>


    <table class="index-three-column-small">
      <% counter=0
         for item in @albums %>
          <% if counter%3==0 %><tr><% end %>
          <td>
            <% if item.image_url != ""  %>
                <%= link_to image_tag(item.image_url,:width=>'120',:hspace=>'5', :align=>'left'), {:action => "about", :controller=>"releases", :id=>item.album_id} %>
            <% end %>
            <%= item.artist_name %><br/>
            <%= link_to item.title, {:action => "about", :controller=>"releases", :id=>item.album_id} %>
            <br/><br/>
             <% if item.release_date %>
                <br/><%= item.release_date.strftime("%B %Y") %>
            <% end %>
            <br/> <a href="/releases/bygenre/<%=item.genre.genre_id%>"><%=item.genre.genre_name %></a>

          </td>
          <% counter=counter+1
             if counter%3==0 %>
              </tr>
          <% end %>
      <% end %>
    </table>

    <center><b><a class="blueLink" href="/releases/browse">Browse all releases...</a></b> </center>
    <div class="hspacer"></div>

  </div>
</div>
