

<div id="StageNarrow">
  <ul class="breadcrumbs">
    <li>
      <a href="/releases">Houston Jazz CD's</a>
    </li>
  </ul>
  <div class="home-inside">
    <div id="SearchBar">
      <div class="ItemHSpacer">
        <%= render :partial => "genre"%>
      </div>
      <div class="ItemHSpacer">
        <ul >
          <li><a href="/releases/browse">browse all recordings</a></li>
        </ul>
      </div>
    </div>


    <div class="hspacer"></div>


    <table class="index-three-column-small">
      <% counter=0
         for item in albums %>
          <% if counter%3==0 %><tr><% end %>
          <td width="33%">
            <% if item.image_url != ""  %>
                <%= link_to image_tag(item.image_url,:width=>'150', :height=>"150",:hspace=>'5', :class=>"img-polaroid", :style=>"height:150px;"), {:action => "about", :controller=>"releases", :id=>item.album_id} %>
            <% end %>
			<p>
            <h3><%= item.artist_name %></h3>
            <h4><%= link_to item.title, {:action => "about", :controller=>"releases", :id=>item.album_id} %></h4>
            <small>
            <% if item.release_date %>
                <br/>Released <%= item.release_date.strftime("%B %Y") %>
            <% end %>
            <br/> <a href="/releases/bygenre/<%=item.genre.genre_id%>"><%=item.genre.genre_name %></a>
			  </small>
			</p>
          </td>
          <% counter=counter+1
             if counter%3==0 %>
              </tr>
          <% end %>
      <% end %>
    </table>

    <center><b><a class="blueLink" href="/releases/browse">Browse all releases...</a></b> </center>
    <div class="hspacer"></div>

  </div>
</div>
