<%
   base_path = "/members/profile/"
   name = ""
   if !user.nil?
	 name = user.username.downcase
	 # deal with users who use domain names for usernames, else getting rails routing error
	 profile_id = (user.username =~ /(\.)+/)  ? user.user_id.to_s : user.username
	 base_path = base_path + profile_id
	 src = user.image_url(:avatar).to_s  || image.remote_url

   end
%>
<div class="forumPic">
  <a href="<%=base_path%>"><img src="<%=src%>" align="left"
								width="<%=size%>" height="<%=size%>"
								title="<%=name%>" style="height: <%=size%>px;"
								class="img-polaroid"></a>
</div>