<%= render 'common/top-of-page' %>
<title>JazzHouston | Shows</title>
<%= render 'common/header' %>
<div id="StageMedium">
    <div class="inside">

        ><a href="/home">Home</a>><a href="/events">Events</a>
        ><b>Shows for <%=  @curTime.strftime("%A %B %d") %></b>
        <div id="jh_toolbar"></div>


        <div class="hspacer"></div>
        <div class="Header">One-Night Only </div>

        <% if @onenighters.length==0 %>
            <p class="smallText">None scheduled:
                see <a href="/events/">upcoming shows</a>

        <% end %>
        <% for item in @onenighters %>
            <b><%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %></b>

            at <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>,
            <%= item.show_time %>
            <br/>
            <%= item.about %>
            <div class="hspacer"></div>
        <% end %>

        <div class="hspacer"></div>
        <div class="Header">Every <%=  @curTime.strftime("%A") %></div>
        <br/>
        <% for item in @steadies %>
            <b><%= link_to item.performer, {:action => "details", :controller=>"events", :id=>item.event_id} %></b>
            at <%= link_to item.venue.title, {:action => "about", :controller=>"venues", :id=>item.venue.venue_id} %>,
            <%= item.show_time %>
            <br/>
            <%= item.about %>

            <div class="hspacer"></div>
        <% end %>
    </div>
</div>
<%= render 'common/footer' %>

<script type="text/javascript">

    Ext.onReady(function(){

        var dateMenu = new Ext.menu.DateMenu({
            handler : function(datepicker, date){
                alert('Date Selected', 'You chose: '+ date.format('Y/m/d'));
            }
        });
        var menu = new Ext.menu.Menu({
            id: 'mainMenu',
            items: [
                {
                    text: 'Choose a Date',
                    iconCls: 'calendar',
                    menu: dateMenu
                },{
                    text: 'All Shows',
                    handler: clickHandler
                }

            ]
        });



        var tb = new Ext.Toolbar('jh_toolbar');
        tb.add({
            text:'JH Calendar',
            menu: menu
        });
        tb.render('jh_toolbar');

        function clickHandler(item, e) {
            alert('Clicked on the menu item: ' + item.text);
        }


    });
</script>
