</head>
<body>

<div id="Masthead">
  <div id="MastheadCenter">
    <div id="logoText"><a href="/home">Jazz/Houston</a></div>
  </div>

  <div id="MastheadRight">
    <div class="hspacer"></div>
    <div id="MemberBox">

      <% if logged_in? -%>
	      <span id="MemberBoxView">
              <a href="/members/profile/<%= current_user.username %>"><%= "#{(current_user.username)}" %></a>::<a href="/members/logout/">logoff</a>
              </span>
              <span id="MemberBoxEdit">
              <a href="/members/edit/<%= current_user.user_id %>">edit</a>::
              <a href="/members/changepassword/<%= current_user.user_id %>">change password</a>
              </span>


      <% else -%>
          <div id="jh_login_form" class="login">
            <%= form_tag "/members/login" do -%>
                        <span id="MemberBoxView">
                        Username: <br/>
                        <input class="textfield" type="text" maxlength="26" size="10" id="login" name="login"/>
                        <br/>
                        remember me? <%= check_box_tag 'remember_me' %>
                        </span>
                        <span id="MemberBoxEdit">
                        Password:<br/>
                        <input class="textfield" type="password" name="password" id="password" maxlength="26" size="10"/>
                          <%= submit_tag 'Go' %>
                          <br/>
				        <a href="/members/new">register</a> |
                        <a href="/members/sendlostpasswordemail">help</a>
                       </span>
            <% end -%>
          </div>
      <% end -%>
    </div>

  </div>


</div>
<div id="Wrapper">
  <div id="CurtainLeft">

    <div id="leftside-links">
      <ul>
        <% if logged_in? -%>
            <li><a class='navLink' href="/members/profile/<%= current_user.username %>">My Page</a></li>
        <% end %>
        <li><a class='navLink' href="/events">Calendar</a></li>
        <li><a class='navLink' href="/musicians">Players</a></li>
        <li><a class='navLink' href="/releases">Recordings</a></li>
        <li><a class='navLink' href="/articles">News</a></li>
        <li><a class='navLink' href="/forums">Forums</a></li>
        <li><a class='navLink' href="/members/new">Register</a></li>
        <li><a class='navLink' href="/education">Education</a></li>
        <li><a class='navLink' href="/site/feedback">Contact</a></li>
      </ul>
    </div>
    <div class="hspacer"></div>
    <div class="hspacer"></div>
    <div id="AdRight">
      <!-- Google Ad -->
      <script type="text/javascript"><!--
      google_ad_client = "pub-1710667641333982";
      /* 120x600, created 6/1/09 */
      google_ad_slot = "2420785327";
      google_ad_width = 120;
      google_ad_height = 600;
      //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>


  </div>
