</head>
<body>

<div id="Masthead">
  <div id="MastheadSpan">
    <div id="MemberBox">

      <% if logged_in? -%>
	      <span id="MemberBoxView">
              Welcome, <%= "#{(current_user.first_name.titleize)}" %>!
              </span>



      <% else -%>
          <div id="jh_login_form" class="login">
            <%= form_tag "/members/login" do -%>
                <input class="textfield" placeholder="Username" type="text" maxlength="46" size="12" id="login" name="login"/>
                <input class="textfield" placeholder="Password" type="password" name="password" id="password" maxlength="46" size="12"/>
                <%= submit_tag 'Log In' %>

                </span>
            <% end -%>
          </div>
      <% end -%>
    </div>
    <div id="MemberMeta">
        <% if logged_in? -%>
          <a href="/members/profile/<%= current_user.username %>">Profile</a> |
	          <a href="/members/edit/<%= current_user.user_id %>">Settings</a> |

            <a href="/members/logout/">Sign out</a>


      <% else -%>
          <div id="jh_login_form" class="login">
            <a href="/members/sendlostpasswordemail">Help?</a> |
            <a href="/members/">Join</a>
          </div>
      <% end -%>
    </div>


  </div>
  <div id="MastheadCenter">
    <div id="logoText"><a href="/home">Jazz/Houston</a></div>
  </div>
  <div id="MastheadRight">
   since 1995
  </div>


</div>
<div id="nav-links">
  <ul>
    <li> <a <% if current_page?(:controller => 'home', :action=>'mobile') %>class='selected'<% end %> href="/home">Home</a></li>
    <li><a <% if current_page?(:controller => 'events') %>class='selected'<% end %> href="/events">Shows</a></li>
    <li><a <% if current_page?(:controller => 'forums') %>class='selected'<% end %> href="/forums">Forums</a></li>
    <li><a <% if current_page?(:controller => 'musicians') %>class='selected'<% end %> href="/musicians">Players</a></li>
    <li><a <% if current_page?(:controller => 'news') %>class='selected'<% end %> href="/news">News</a></li>
  </ul>
</div>

</div>


