<div id="StageNarrow">
    <div class="inside">
        <div class="HeaderTitle">
            Change your password
        </div>

          <div class="flash-alert">
            <%= flash[:notice] %>
        </div>

        <form action="/members/changepassword" method="post">
            <p><label for="login">Username</label><br/>
            <%= text_field_tag 'login', @username %></p>

            <p><label for="old_password">Old Password</label><br/>
            <%= password_field_tag 'old_password' %></p>

            <p><label for="new_password">New Password</label><br/>
            <%= password_field_tag 'new_password' %></p>

            <p><label for="confirm_password">Confirm New Password</label><br/>
            <%= password_field_tag 'confirm_password' %></p>

            <input type="hidden" name='authenticity_token' value= '<%= form_authenticity_token() %>'/>

            <p><%= submit_tag 'Submit' %></p>
        </form>



    </div>
</div>