<div id="StageNarrow">
  <div class="cd-inside">
	<div class="HeaderTitle">
	  Change your password
	</div>


	<%= render :partial => "common/notice" %>


	<form action="/members/changepassword" method="post">

	  <p><label for="old_password">Old Password</label><br/>
		<%= password_field_tag 'old_password' %></p>

	  <p><label for="new_password">New Password</label><br/>
		<%= password_field_tag 'new_password' %></p>

	  <p><label for="confirm_password">Confirm New Password</label><br/>
		<%= password_field_tag 'confirm_password' %></p>

	  <input type="hidden" name='authenticity_token' value= '<%= form_authenticity_token() %>'/>
	  <input type="hidden" name='login' value= '<%=  current_user.username %>'/>

	  <p><%= submit_tag 'Submit' %></p>
	  Afterwards, you will be required to re-login.
	</form>



  </div>
</div>