<%
   #TODO: fix validation for email (allows ..com)
   about_me =  (@user.about_me.nil?)? "" :  @user.about_me.html_safe
%>

<script type="text/javascript">
  $(document).ready(function() {
	function delete_confirm() {
	  var answer=confirm("Are you sure you want to DELETE this account?");
	  return !!answer;
	}

	function upgrade_confirm() {
	  var answer=confirm("Are you sure you want to UPGRADE this account to editor?");
	  return !!answer
	}

	var email_group = $("#email_group");
	var email = $("#user_email");
	var email_info = $("#email_info");

	var profile_form = $("#jh_profile_edit_form");

	//validation functions
	var validateEmail = function() {

	  //testing regular expression
	  var filter = /^([a-zA-Z0-9_\.-]+)@([a-zA-Z0-9\.-]+)\.([a-z]{2,5})$/;
	  //if it's valid email
	  if(filter.test(email.val())){
		email_group.removeClass("error");
		email_info.text("");
		return true;
	  }
	  //if it's NOT valid
	  else{
		email_group.addClass("error");
		email_info.text("Invalid email address.");
		return false;
	  }
	};

	email.focusout(validateEmail);

	profile_form.submit(function(){
	  // we want them all to execute
	 return validateEmail();
	});

  });
</script>
<style>
  textarea {
	width: 500px;
  }
  .inside h3 {
	background-color: #ccc;
	height: 40px;
  }
</style>
<div id="StageNarrow">

  <div class="inside">


	<%= render :partial => "common/notice" %>
	<a name="edit"></a>
	<h3>Edit Your Profile</h3>
	<br/>
	<a name="photo"></a>

	<%= form_for @user, :method => :post, :url => { :action => "update"}, :html => {:multipart => true, :id=>"jh_profile_edit_form", :class => "form-horizontal well" }     do |f| %>
	  <input type="hidden" id="authenticity_token" value="<%= form_authenticity_token() %>"/>
	  <input type="hidden" id="id" name="id" value="<%= @user.user_id %>"/>
	  <input name="_method" type="hidden" value="post" />
	  <h3>Photo</h3>
	  <%= render :partial => "common/renderpic", :locals => { :user => @user, :size =>"150"} %>
		  <h4>Select an image to upload</h4>
	 	  <%= f.file_field :image  %>
	    <div class="hspacer"></div>
	  <h3>Essentials</h3>
	  <div class="control-group" id="email_group">
		<label class="control-label" for="user[email]">Email</label>
		<div class="controls">
		  <%= f.text_field :email, :size=>30, :placeholder=>"Email Address" ,:value =>escape_javascript(@user.email) %>
		  <span id="email_info" class="help-inline"></span>
		</div>
		<label class="control-label" for="user[hide_email]">Hide Email?</label>
		<div class="controls">
		  <%=f.check_box :hide_email, :value=>@user.hide_email %> Check this if you don't want your email address displayed on your profile page
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="user[first_name]">First Name</label>
		<div class="controls">
		  <%= f.text_field :first_name, :size=>30, :placeholder=>"First Name" ,:value =>escape_javascript(@user.first_name) %>
		</div>
		<label class="control-label" for="user[last_name]">Last Name</label>
		<div class="controls">
		  <%= f.text_field :last_name, :size=>30, :placeholder=>"Last Name" ,:value =>escape_javascript(@user.last_name) %>
		</div>
		<label class="control-label" for="user[last_name]">Password</label>
		<div class="controls">
		 <a class="blueLink" href="/members/changepassword">Change Password</a>
		</div>
	  </div>

	  <div class="control-group">
		<h3>Contact Info</h3>
		<label class="control-label" for="user[cell_phone]">Cell Phone</label>
		<div class="controls">
		  <%= f.text_field :cell_phone, :size=>30, :placeholder=>"Cell Phone" ,:value =>escape_javascript(@user.cell_phone) %>
		</div>
		<label class="control-label" for="user[home_phone]">Home Phone</label>
		<div class="controls">
		  <%= f.text_field :home_phone, :size=>30, :placeholder=>"Home Phone" ,:value =>escape_javascript(@user.home_phone) %>
		</div>
		<label class="control-label" for="user[url]">Website</label>
		<div class="controls">
		  <%= f.text_field :url, :size=>30, :placeholder=>"http://" ,:value =>escape_javascript(@user.url) %>
		</div>
		<label class="control-label" for="user[twitter_name]">Twitter</label>
		<div class="controls">
		  <%= f.text_field :twitter_name, :size=>30, :placeholder=>"@" ,:value =>escape_javascript(@user.twitter_name) %>
		</div>
		<label class="control-label" for="user[location]">Location</label>
		<div class="controls">
		  <%= f.text_field :location, :size=>30, :placeholder=>"Location" ,:value =>escape_javascript(@user.location) %>
		</div>

	  </div>
	  <div class="control-group">
		<h3>Instruments Played, if any</h3>
		<% for item in @instruments %>
		  <label class="checkbox inline">
			<input type="checkbox" name="instrument[<%=item.instrument_id%>]" value="<%=item.instrument_id%>"  <% if @myinstruments && @myinstruments[item.instrument_id] %>checked<% end %>><%=item.instrument_name%>
		  </label>
		<% end %>
	  </div>
	  <div class="control-group">
		<h3>About You</h3>
		<label class="control-label" for="user[occupation]">Occupation</label>
		<div class="controls">
		  <%= f.text_field :occupation, :size=>30, :placeholder=>"Location" ,:value =>escape_javascript(@user.occupation) %>
		</div>
		<label class="control-label" for="user[about_me]">Bio</label>
		<div class="controls">
		  <%= f.text_area :about_me, :rows=>9 ,:value => about_me %>
		</div>
		<label class="control-label" for="user[favorite_music]">Favorite Music</label>
		<div class="controls">
		  <%= f.text_area :favorite_music, :rows=>3 ,:value =>@user.favorite_music %>
		</div>
		<label class="control-label" for="user[favorite_films]">Favorite Movies</label>
		<div class="controls">
		  <%= f.text_area :favorite_films, :rows=>3 ,:value =>@user.favorite_films %>
		</div>
	  </div>

	  <div class="control-group">
		<h3>Finish</h3>
		<br/>
		<button type="submit" style="text-align:center;" class="btn">Update Profile</button>
	  </div>
	<% end %>
  </div>

  <div class="hspacer"></div>

  <div class="Header">Delete Account</div>
  <div class="hspacer"></div>
  <%= form_for @user, :url => { :action => "destroy"}, :html => { :onsubmit => "return delete_confirm();" }     do |f| %>
	<input type="hidden" id="id" name="id" value="<%=@user.id%>" >
	If you'd like to delete your account, click this button.
	<%= f.submit "Delete Account" , :class => "btn" %>
	<br/>This isn't Facebook, your account will be removed immediately and for good.


	<div class="hspacer"></div>
  <% end %>
  <% if logged_in? && (current_user.id==1) -%>
	<div class="hspacer"></div>
	<div class="Header">Super Power!!</div>
	<%= form_for @user, :url => { :action => "upgrade"}, :html => { :onsubmit => "return upgrade_confirm();" }     do |f| %>
	  <input type="hidden" id="id" name="id" value="<%=@user.id%>" >
	  <% if @user.editor_flag==1 %>
		User is currently an editor
		<input type="hidden" id="editor_flag" name="editor_flag" value=0 >
		<%= f.submit "Remove Editor" %>
	  <% else %>
		User is not currently an editor
		<input type="hidden" id="editor_flag" name="editor_flag" value=1 >
		<%= f.submit "Upgrade to Editor" %>
	  <% end %>
	  <div class="hspacer"></div>
	<% end %>
  <% end -%>


</div>

