<%
   if (@member.url &&  @member.url!="" && @member.url !~/^http/i)
       @member.url = "http://" + @member.url
   end
   if (!@member.cell_phone.nil?)
       @member.cell_phone.gsub!(/[^\d]/,'')
       @member.cell_phone = number_to_phone(@member.cell_phone)
   end
   if (!@member.home_phone.nil?)
       @member.home_phone.gsub!(/[^\d]/,'')
       @member.home_phone = number_to_phone(@member.home_phone)
   end
%>
<div id="StageNarrow">

  <div class="ProfileHeader">
    <%=@member.first_name%> <%=@member.last_name%>
	  <% if logged_in? && (current_user.user_id==params[:id].to_i || current_user.admin_flag==1) -%>
            <a href="/members/edit/<%=@member.user_id%>"><img src="/images/icons/reply.png" border="0" alt="edit">Edit</a>
        <% end -%>
  </div>
  <% if logged_in? && current_user.user_id==@member.user_id && (@member.image.nil? && @member.image_url.nil?) %>
      <div id="fastLinks">
        Enhance your profile by uploading a photo. Click <a class="blueLink" href="/members/edit/<%=@member.user_id%>">here</a>
      </div>
  <% end %>

  <%=flash[:notice]%>
  <div class="cd-inside">
    <div id="jh_pic_column">

      <%= render :partial => "common/renderpic", :locals => { :user => @member, :size =>"150"} %>
      <br/> <div id="jh_editor">
      <% if @member.admin_flag==1 %>
          JazzHouston Admin
      <% elsif @member.editor_flag==1 %>
          JazzHouston Editor
      <% end %>
    </div>
    </div>
    <div id="jh_infocol">


      <table width="90%" class="table table-hover">
        <% if @isaplaya %>
            <tr>
              <td align="left">Instrument(s)</td>
              <td>
                <% counter=0
                   for item in @instruments %>
                    <% if counter>0  %> | <% end %><a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name.titleize %></a>
                <% counter=counter+1
                   end %>
              </td>
            </tr>
        <% end %>
        <% if @member.cell_phone && @member.cell_phone != "" %>
            <tr>
              <td align="left">Phone</td>
              <td><%=number_to_phone @member.cell_phone%></td>
            </tr>
        <% end %>
        <% if @member.home_phone && @member.home_phone != "" %>
            <tr>
              <td align="left">Phone (alt)</td>
              <td><%=number_to_phone @member.home_phone%></td>
            </tr>
        <% end %>
        <% if @member.email %>
            <tr>
              <td align="left">Email</td>
              <td><%=@member.email%></td>
            </tr>
        <% end %>
        <% if @member.url %>
            <tr>
              <td align="left">Website</td>
              <td><a href="<%=@member.url%>" target="_new"><%=@member.url%></a></td>
            </tr>
        <% end %>

      </table>
    </div>

    <div id="jh_detailcol">



      <div id="jh_profile"  style="display:block">

        <h2>Background</h2>

        <% if @member.about_me && @member.about_me.length>0 %>
            <%=@member.about_me.html_safe%>
        <% else %>
            <span class="none_entered">not entered</span>
        <% end %>
      </div>
      <div class="hspacer"></div>
      <div id="jh_interests">
        <h2>Location</h2>
        <% if @member.location %>
            <%=@member.location%>
        <% else %>
            <span class="none_entered">none entered</span>
            <% if (logged_in? && current_user.user_id==@member.user_id) %>
                (<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
            <% end %>
        <% end %>
        <div class="hspacer"></div>
        <h2>Occupation</h2>
        <% if @member.occupation && @member.occupation.length>0 %>
            <%=@member.occupation%>
        <% else %>
            <span class="none_entered">none entered</span>
            <% if (logged_in? && current_user.user_id==@member.user_id) %>
                (<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
            <% end %>
        <% end %>

        <div class="hspacer"></div>
        <h2>Music That Inspires Me</h2>
        <% if @member.favorite_music %>
            <%=@member.favorite_music%>
        <% else %>
            <span class="none_entered">none entered</span>
            <% if (logged_in? && current_user.user_id==@member.user_id) %>
                (<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
            <% end %>
        <% end %>
        <div class="hspacer"></div>
        <h2>Films I'll Watch More Than Once</h2>
        <% if @member.favorite_films %>
            <%=@member.favorite_films%>
        <% else %>
            <span class="none_entered">none entered</span>
            <% if (logged_in? && current_user.user_id==@member.user_id) %>
                (<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
            <% end %>
        <% end %>
      </div>
      <div class="hspacer"></div>

    </div>
    <div class="clear"></div>




  </div>
</div>

