<%
   if (!@member.url.blank? && @member.url !~/^http/i)
	 @member.url = "http://" + @member.url
   end
   if (!@member.cell_phone.blank?)
	 @member.cell_phone.gsub!(/[^\d]/,'')
	 @member.cell_phone = number_to_phone(@member.cell_phone)
   end
   if (!@member.home_phone.blank?)
	 @member.home_phone.gsub!(/[^\d]/,'')
	 @member.home_phone = number_to_phone(@member.home_phone)
   end
   if (!@member.twitter_name.blank? && @member.twitter_name !~/^\@/)
	 @member.twitter_name = "@" +@member.twitter_name
   end

%>
<div data-role="content">

  <% if (logged_in? && current_user.user_id==@member.user_id && (!@member.image || @member.image=="")) %>
	<div id="fastLinks">
	  Enhance your profile by uploading a photo. Click <a class="blueLink" href="/members/edit/<%=@member.user_id%>">here</a>
	</div>
  <% end %>

  <div class="inside">

	<div id="jh_card_wrapper">
	  <div id="jh_pic_column">
		<%= render :partial => "common/renderpic", :locals => { :user => @member, :size =>"125"} %>
	  </div>
	  <div id="jh_member_box">
		<div id="jh_name_column">
		  <%=@member.first_name%> <%=@member.last_name%>
		</div>

		<div id="jh_infocol">
		  <% if !@member.cell_phone.blank? %>
			<div class="phone_list">
			  cell: <a href="tel:<%= @member.cell_phone %>"><%= @member.cell_phone %></a><br/>
			</div>
		  <% end %>
		  <% if !@member.home_phone.blank? %>
			<div class="phone_list">
			  home: <a href="tel:<%= @member.home_phone %>"><%= @member.home_phone %></a>
			</div>
		  <% end %>
		  <% if @member.email && @member.hide_email != '1' %>
			<div class="email_list">
			  <a href="mailto:<%= @member.email %>"><%=@member.email%></a>
			</div>
		  <% end %>
		  <% if !@member.twitter_name.blank? %>
			<div class="twitter_list">
			  <a href="https://twitter.com/<%=@member.twitter_name%>" target="_new"><%=@member.twitter_name%></a>
			</div>
		  <% end %>
		  <% if !@member.url.blank? %>
			<div class="url_list">
			  <a href="<%=@member.url%>" target="_new"><%=@member.first_name%>'s website</a>
			</div>
		  <% end %>

		</div><!-- infocol-->
	  </div><!-- memberbox-->
	</div><!-- cardwrapper-->
	<div id="jh_detailcol">

	  <% if @isaplaya %>
		Musician:
		  <span class="instrument_list">
			<% counter=0
			   for item in @instruments %>
			  <% if counter>0  %> | <% end %><a href="/musicians/byinst/<%=item.instrument_name%>"><%= item.instrument_name.titleize %></a>
			<% counter=counter+1
			   end %>
		  </span>
	  <% end %>



	  <div id="jh_profile"  style="display:block">

		<h2>Background</h2>

		<% if !@member.about_me.blank? %>
		  <%=@member.about_me.html_safe%>
		<% else %>
		  <span class="none_entered">not entered</span>
		<% end %>
	  </div>
	  <div class="hspacer"></div>
	  <div id="jh_interests">
		<h2>Location</h2>
		<% if !@member.location.blank? %>
		  <%=@member.location%>
		<% else %>
		  <span class="none_entered">none entered</span>
		  <% if (logged_in? && current_user.user_id==@member.user_id) %>
			(<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
		  <% end %>
		<% end %>
		<div class="hspacer"></div>
		<h2>Occupation</h2>
		<% if !@member.occupation.blank? %>
		  <%=@member.occupation%>
		<% else %>
		  <span class="none_entered">none entered</span>
		  <% if (logged_in? && current_user.user_id==@member.user_id) %>
			(<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
		  <% end %>
		<% end %>

		<div class="hspacer"></div>
		<h2>Music That Inspires Me</h2>
		<% if !@member.favorite_music.blank? %>
		  <%=@member.favorite_music%>
		<% else %>
		  <span class="none_entered">none entered</span>
		  <% if (logged_in? && current_user.user_id==@member.user_id) %>
			(<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
		  <% end %>
		<% end %>
		<div class="hspacer"></div>
		<h2>Films I'll Watch More Than Once</h2>
		<% if !@member.favorite_films.blank? %>
		  <%=@member.favorite_films%>
		<% else %>
		  <span class="none_entered">none entered</span>
		  <% if (logged_in? && current_user.user_id==@member.user_id) %>
			(<a href="/members/edit/<%=@member.user_id%>">click here to add!</a>)
		  <% end %>
		<% end %>
	  </div>
	  <div class="hspacer"></div>

	</div>
	<div class="clear"></div>
  </div>
</div>


