<div id="StageNarrow">
    <div class="cd-inside">
        <div class="HeaderTitle">
            Reset your password
        </div>

          <div class="flash-alert">
            <%= flash[:notice] %>
        </div>

        <form action="/members/resetpassword" method="post">
            <p><label for="login">Username</label><br/>
            <%= text_field_tag 'login', @username %></p>

            <p><label for="password">New Password</label><br/>
            <%= password_field_tag 'password' %></p>

            <p><label for="confirm_password">Confirm New Password</label><br/>
            <%= password_field_tag 'confirm_password' %></p>

            <input type="hidden" name='authenticity_token' value= '<%= form_authenticity_token() %>'/>
            <input type="hidden" name='key' value= '<%= @key %>'/>

            <p><%= submit_tag 'Submit' %></p>
        </form>



    </div>
</div>